<template>
  <form class="wrapper-sort" @submit.prevent="triggerSort">
    <h2 class="sort-title">
      {{ $t('pages.sequence.sort_panel_title') }}
    </h2>
    <span class="sort-subtitle">
      {{ $t('pages.sequence.sort_panel_settings') }}
    </span>
    <div class="wrapper-checkboxs">
      <div class="checkbox-item">
        <InputRadio
          :value="sortValue"
          :label="$t('pages.sequence.sort_panel_check_gps')"
          name="sort"
          id="gpsdate"
          @trigger="triggerInputCheck"
        />
      </div>
      <div class="checkbox-item">
        <InputRadio
          :value="sortValue"
          :label="$t('pages.sequence.sort_panel_check_file')"
          name="sort"
          id="filedate"
          @trigger="triggerInputCheck"
        />
      </div>
      <div class="checkbox-item">
        <InputRadio
          :value="sortValue"
          :label="$t('pages.sequence.sort_panel_check_name')"
          name="sort"
          id="filename"
          @trigger="triggerInputCheck"
        />
      </div>
    </div>
    <span class="sort-subtitle">
      {{ $t('pages.sequence.sort_panel_settings_order') }}
    </span>
    <div class="wrapper-checkboxs">
      <InputSwitch @trigger="triggerInputSwitch" :increased="increaseChecked" />
    </div>
    <Button
      look="button--blue"
      type="submit"
      :text="$t('pages.sequence.sort_panel_button')"
      :disabled="sortValue.length === 0"
    />
  </form>
</template>

<script setup lang="ts">
import { watchEffect, ref } from 'vue'
import InputRadio from '@/components/InputRadio.vue'
import InputSwitch from '@/components/InputSwitch.vue'
import Button from '@/components/Button.vue'
const props = defineProps({
  sequenceSorted: { type: String, default: null }
})
const emit = defineEmits<{
  (e: 'triggerSort', value: string): void
}>()
let sortValue = ref<string>('')
let increaseChecked = ref<boolean>(true)

watchEffect(() => {
  if (props.sequenceSorted) {
    const filtersType = ['gpsdate', 'filedate', 'filename']
    const filtersValue = ['+', '-']
    filtersType.map((e: string) => {
      if (props.sequenceSorted.includes(e)) sortValue.value = e
    })
    filtersValue.map((e: string) => {
      if (props.sequenceSorted.includes(e) && e === '+') {
        increaseChecked.value = true
      }
      if (props.sequenceSorted.includes(e) && e === '-') {
        increaseChecked.value = false
      }
    })
  }
})

function triggerInputSwitch(value: { isIncreaseChecked: boolean }): void {
  increaseChecked.value = value.isIncreaseChecked
}
function triggerInputCheck(value: string): void {
  sortValue.value = value
}
function triggerSort() {
  const value = increaseChecked.value
    ? `+${sortValue.value}`
    : `-${sortValue.value}`
  emit('triggerSort', value)
}
</script>

<style scoped lang="scss">
.sort-title {
  color: var(--blue-dark);
  margin-bottom: toRem(2);
  @include text(h4);
}
.sort-subtitle {
  color: var(--grey-semi-dark);
}
.wrapper-checkboxs {
  display: flex;
  flex-wrap: wrap;
  margin-top: toRem(1.5);
  margin-bottom: toRem(2.5);
}
.checkbox-item {
  margin-right: toRem(4);
  margin-bottom: toRem(1);
}
</style>
