@use "@/assets/rem-calc" as *;
@use "@/assets/font-size" as *;
@use "@/assets/upload/subtitle" as *;
ul,
h3 {
  padding-left: 0;
  margin-bottom: 0;
}
.logged {
  min-height: calc(100vh - #{toRem(8)});
}
.section {
  width: 100%;
}
.entry-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - #{toRem(13.82)});
  background-color: var(--grey);
  padding: toRem(2) toRem(5) toRem(5);
  color: var(--grey-dark);
}

.wrapper-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: toRem(2);
}
.sub-section {
  display: flex;
  flex-direction: column;
  min-height: toRem(48);
  background-color: var(--white);
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  padding: toRem(2);
  border-radius: toRem(1.5);
  &:first-child {
    margin-right: toRem(2);
  }
  &:nth-child(2) {
    justify-content: space-between;
  }
}
.progress-bar-processing {
  color: var(--blue-dark);
}
.bi-images {
  margin-right: toRem(0.5);
}
.import-text {
  @include text(m-r-regular);
}
.entry-license,
.wrapper-edit-text {
  margin-bottom: toRem(2);
}
.desc-edit-title {
  margin-bottom: toRem(1);
}
.entry-tutorial {
  display: none;
}
.form {
  height: 100%;
}
.wrapper-form {
  display: flex;
  align-items: center;
  justify-content: center;
  border: toRem(0.1) dashed var(--blue);
  background-color: var(--blue-pale);
  border-radius: toRem(1.5);
  padding: toRem(2);
  height: 100%;
}
.wrapper-form:has(.wrapper-uploading) {
  border: none;
}
.loader-text-warning {
  text-align: center;
  color: var(--red-pale);
  margin-top: toRem(1);
  width: toRem(31);
  @include text(s-r-regular);
}
.entry-no-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: toRem(4);
}
.processing-wrapper {
  margin-top: toRem(2);
  p {
    white-space: pre-wrap;
  }
}
.sub-section-bottom {
  width: 100%;
  min-height: toRem(25);
  background-color: var(--white);
  padding: toRem(2);
  border-radius: toRem(1.5);
  margin-top: toRem(2);
}
.desktop {
  display: flex;
}
.responsive {
  display: none;
}
@media (max-width: toRem(76.8)) {
  .section {
    display: none;
  }
  .wrapper-thumb {
    height: 100%;
    width: 100%;
  }
  .sequence-status {
    margin-right: 0;
  }
  .entry-form {
    width: 100%;
    justify-content: space-between;
  }
  .entry-page {
    padding-top: 0;
    padding-right: toRem(2);
    padding-left: toRem(2);
  }
  .wrapper-section {
    flex-direction: column;
  }
  .sub-section {
    width: 100%;
    margin-bottom: toRem(2);
    flex-grow: unset;
    flex-shrink: unset;
    flex-basis: unset;
    &:first-child {
      margin-right: 0;
    }
  }
  .entry-no-img {
    margin-top: toRem(6);
  }
  .desktop {
    display: none;
  }
  .responsive {
    display: block;
  }
}
@media (max-width: toRem(57.6)) {
  .entry-page {
    padding-top: toRem(6);
  }
  .sub-section {
    min-height: initial;
  }
  .entry-tutorial {
    display: block;
    color: var(--red);
    background-color: var(--blue-pale);
    border-radius: toRem(1);
    padding: toRem(1.5);
    margin-bottom: toRem(2);
    white-space: pre-wrap;
    @include text(s-regular);
  }
}
