@use "@/assets/rem-calc" as *;
@use "@/assets/font-size" as *;
.subtitle {
  display: flex;
  justify-content: space-between;
  color: var(--blue-dark);
  margin-bottom: toRem(2);
  @include text(h3);
}
