@use "@/assets/rem-calc" as *;
@use "@/assets/font-size" as *;
.entry-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - #{toRem(8)});
  background-color: var(--grey);
  padding: toRem(5);
  color: var(--grey-dark);
}
.section {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: toRem(2.2);
  padding: toRem(4);
  margin-bottom: toRem(2);
}
.main-title {
  color: var(--blue-dark);
  margin-bottom: toRem(2);
  @include text(h1);
}
.bi-check-circle-fill {
  margin-right: toRem(0.5);
}

@media (max-width: toRem(57.6)) {
  .section {
    margin-top: toRem(4);
    padding: toRem(2);
  }
  .entry-page {
    min-height: 100vh;
    padding: toRem(2);
  }
}
