@use "@/assets/rem-calc" as *;
@use "@/assets/font-size" as *;
.entry-page {
  min-height: calc(100vh - #{toRem(13.1)});
  background-color: var(--grey);
  color: var(--grey-dark);
  padding: toRem(2) toRem(5) toRem(5);
  @include text(m-r-regular);
}
.section {
  background-color: var(--white);
  border-radius: toRem(2.2);
  padding: toRem(4);
}
@media (max-width: toRem(57.6)) {
  .entry-page {
    padding-top: toRem(10);
  }
  .entry-page,
  .section {
    padding-right: toRem(2);
    padding-left: toRem(2);
  }
}
