<template>
  <main class="entry-page">
    <section class="section">
      <slot name="summary"></slot>
      <div v-html="htmlContent" />
    </section>
  </main>
</template>

<script setup lang="ts">
defineProps({
  htmlContent: { type: String, default: '' }
})
</script>

<style scoped lang="scss">
@use '@/assets/components/legal' as *;
.logged {
  min-height: calc(100vh - #{toRem(8)});
}
</style>
