<template>
  <div v-if="contentSummary" class="content-summary">
    <div v-html="contentSummary"></div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'
import axios from 'axios'
import { manageLocaleForPages } from '@/utils'
import { useI18n } from 'vue-i18n'
const { locale } = useI18n()
const contentSummary = ref<string>(null)
onMounted(async () => {
  axios.defaults.headers.common['Content-Type'] = 'text/html'
  const { data } = await axios.get(
    'api/pages/end-user-agreement-license-summary'
  )
  if (data?.languages?.length) {
    const foundPage = await axios.get(
      `api/pages/end-user-agreement-license-summary/${await manageLocaleForPages(
        locale.value,
        data.languages
      )}`
    )
    if (foundPage?.data) contentSummary.value = foundPage.data
  }
})
</script>

<style scoped lang="scss"></style>
