<template>
  <ul class="folder-list">
    <li
      v-for="folder in pictures"
      :class="[
        'folder-item',
        { 'folder-uploading': currentFolderUploading(folder.folderName) }
      ]"
    >
      <div class="folder-item-element">
        <span>📁 {{ folder.folderName }}</span>
      </div>
      <div class="folder-item-element">
        <span
          >{{ folder.files.length }}
          {{ $t('pages.upload.folder_picture') }}</span
        >
      </div>
      <Loader
        v-if="currentFolderUploading(folder.folderName)"
        look="xs"
        color="white"
        :is-loaded="false"
      />
      <i v-else class="bi bi-hourglass"></i>
    </li>
  </ul>
</template>

<script setup lang="ts">
import type { PropType } from 'vue'
import type { FolderInterface } from '@/views/interfaces/UploadPicturesView'
import Loader from '@/components/Loader.vue'
const props = defineProps({
  pictures: { type: Array as PropType<FolderInterface[]>, default: [] },
  currentFolder: { type: String, default: null }
})
function currentFolderUploading(value: string | null): boolean {
  return !!(props.currentFolder && props.currentFolder === value)
}
</script>

<style scoped lang="scss">
.folder-list {
  height: toRem(12);
  margin-top: toRem(2);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.folder-item {
  display: flex;
  align-items: center;
  width: calc(50% - #{toRem(1)});
  background-color: var(--grey);
  padding-right: toRem(1);
  padding-left: toRem(1);
  height: toRem(2.5);
  @include text(xs-r-regular);
  .folder-item-element {
    width: 50%;
  }
  div:first-child {
    margin-right: toRem(1);
  }
}
.folder-uploading {
  background-color: var(--blue);
  color: var(--white);
}
.folder-item:nth-child(odd) {
  margin-right: toRem(1);
}
.folder-item:nth-child(1),
.folder-item:nth-child(2) {
  border-top-right-radius: toRem(0.5);
  border-top-left-radius: toRem(0.5);
}
.folder-item:last-child,
.folder-item:nth-last-child(2) {
  border-bottom-right-radius: toRem(0.5);
  border-bottom-left-radius: toRem(0.5);
}

@media (max-width: toRem(102.4)) {
  .folder-item {
    width: 100%;
    margin-right: toRem(1);
  }
}
</style>
