<template>
  <div :class="['loader-information', look]">
    <div class="wrapper-picture-count">
      <span class="picture-length">{{ pictures }}</span>
      <span>/</span>
      <span>{{ picturesCount }}</span>
    </div>
    <span v-if="text" class="pict-text">{{ text }}</span>
  </div>
</template>

<script setup lang="ts">
defineProps({
  look: { type: String, default: '' },
  text: { type: String, default: null },
  picturesCount: { type: Number, default: null },
  pictures: { type: Number, default: null }
})
</script>

<style scoped lang="scss">
.loader-information {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrapper-picture-count {
  @include text(xxl-regular);
}
.picture-length {
  color: var(--blue);
  font-weight: 860;
}
.pict-text {
  text-align: center;
  white-space: pre;
  line-height: 1;
}
.sm {
  .wrapper-picture-count {
    @include text(m-regular);
  }
  .pict-text {
    @include text(xs-r-regular);
  }
}
</style>
