<template>
  <h3 class="subtitle">{{ $t('pages.upload.my_sequences_title') }}</h3>
  <div class="sequence-item-head">
    <div class="sequence-header-item"></div>
    <div class="sequence-header-item">
      <span>{{ $t('pages.upload.my_sequences_subtitle') }}</span>
    </div>
    <div class="sequence-header-item">
      <span>{{ $t('pages.upload.my_sequences_status') }}</span>
    </div>
    <div class="sequence-header-item">
      <span>{{ $t('pages.upload.my_sequences_pictures') }}</span>
    </div>
    <div class="sequence-header-item">
      <span>{{ $t('pages.upload.my_sequences_pictures_date') }}</span>
    </div>
    <div class="sequence-header-item"></div>
  </div>
  <ul v-if="listDisplayed">
    <template v-if="uploadSets?.associated_collections?.length > 0">
      <li
        v-for="collection in uploadSets.associated_collections"
        class="collection-status-item"
      >
        <div class="sequence-item">
          <ImageThumb
            :count="collection.nb_items"
            :href="formatUrl(collection.id)"
          />
        </div>
        <div class="sequence-item">
          <EditText
            :default-text="newSeqTitle || collection.title"
            :is-loading="isLoading"
            :is-loaded="isLoaded"
            @triggerNewText="
              updateSequenceTitle(
                $event,
                collection.id,
                $t('general.error_text'),
                $route.path
              )
            "
          />
        </div>
        <div class="sequence-item desktop">
          <SequenceStatus
            :status="
              !collection.ready || collection.ready ? 'ready' : 'waiting'
            "
          />
        </div>
        <div class="sequence-item sequence-pictures">
          <div class="sequence-pictures-wrapper">
            <i class="bi bi-images"></i>
            <span>{{ collection.nb_items }} </span>
            <span class="responsive">{{
              $t('pages.upload.pictures_words')
            }}</span>
          </div>
          <div class="responsive">
            <SequenceStatus
              :status="
                !collection.ready || collection.ready ? 'ready' : 'waiting'
              "
            />
          </div>
        </div>
        <div class="sequence-item">
          <DateInterval
            :first-date="new Date(collection.extent.temporal.interval[0][0])"
            :last-date="new Date(collection.extent.temporal.interval[0][1])"
          />
        </div>
        <div class="sequence-link-wrapper">
          <Link
            :text="$t('pages.upload.go_to_sequence')"
            :route="{
              name: 'sequence',
              params: { id: collection.id }
            }"
            target="_blank"
            look="button button--blue"
          />
        </div>
      </li>
    </template>
    <li v-else class="no-collection-created-item">
      <i class="bi bi-x-circle-fill"></i
      ><span>{{ $t('pages.upload.no_sequence_created') }}</span>
    </li>
  </ul>
  <div v-else id="uploadSeqMsg" class="wrapper-uploading">
    <div class="wrapper-info-text-uploading">
      <span>
        <img
          src="@/assets/images/icon/info-blue.svg"
          alt=""
          class="icon-block-img"
        />
        {{ $t('pages.upload.my_sequences_description') }}
      </span>
      <div v-if="seqIsWaiting" class="waiting-seq-msg">
        {{ $t('pages.upload.my_sequences_waiting') }}
      </div>
    </div>
    <UploadingImg />
    <span>{{ $t('pages.upload.creating_sequences_process') }}</span>
  </div>
</template>
<script setup lang="ts">
import { ref, onMounted, onUnmounted } from 'vue'
import { formatUrl } from '@/views/utils/upload'
import { updateSequenceTitle } from '@/composables/upload'
import ImageThumb from '@/components/sequence/ImageThumb.vue'
import SequenceStatus from '@/components/SequenceStatus.vue'
import DateInterval from '@/components/sequence/DateInterval.vue'
import EditText from '@/components/EditText.vue'
import Link from '@/components/Link.vue'
import UploadingImg from '@/components/UploadingImg.vue'
let seqIsWaiting = ref<boolean>(false)
const props = defineProps({
  listDisplayed: { type: Boolean, default: false },
  uploadSets: { type: Object, default: null },
  newSeqTitle: { type: String, default: '' },
  isLoading: { type: Boolean, default: false },
  isLoaded: { type: Boolean, default: false }
})
onMounted(() => {
  setTimeout(() => {
    if (props.uploadSets?.associated_collections?.length < 1) {
      seqIsWaiting.value = true
      const elementTarget = document.querySelector('#uploadSeqMsg')
      if (elementTarget) elementTarget.scrollIntoView({ behavior: 'smooth' })
    }
  }, 60000)
})
onUnmounted(() => {
  clearInterval()
})
</script>
<style scoped lang="scss">
@use '@/assets/upload/subtitle' as *;
@use '@/assets/upload/wrapper-uploading' as *;
ul {
  padding: 0;
}
.sequence-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: toRem(1) toRem(2);
  border-bottom: toRem(0.1) solid var(--grey);
  border-radius: toRem(2) toRem(2) 0 0;
  background-color: var(--white);
  margin: toRem(2) auto toRem(1);
}
.sequence-header-item {
  color: var(--grey-semi-dark);
  display: flex;
  align-items: center;
  margin-right: toRem(2);
  @include text(s-regular);

  &:first-child,
  &:nth-child(3),
  &:nth-child(4) {
    width: toRem(6);
  }
  &:nth-child(5),
  &:nth-child(2),
  &:nth-child(6) {
    width: 30%;
  }
  &:last-child {
    width: toRem(8);
    margin-right: 0;
  }
}
.collection-status-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue-pale);
  padding: toRem(1) toRem(2);

  &:nth-child(2n) {
    background-color: var(--white);
  }
}
.sequence-item {
  @include text(s-regular);
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  text-decoration: none;
  margin-right: toRem(2);
  height: toRem(6);

  &:first-child,
  &:nth-child(3),
  &:nth-child(4) {
    width: toRem(6);
  }
  &:nth-child(5),
  &:nth-child(2),
  &:nth-child(6) {
    width: 30%;
  }
  &:last-child {
    width: toRem(6.5);
    margin-right: 0;
  }
}
.desktop {
  display: flex;
}
.responsive {
  display: none;
}
.sequence-pictures {
  width: toRem(7);
}
.sequence-link-wrapper {
  min-width: toRem(8);
}
.no-collection-created-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: toRem(6);
  i {
    margin-right: toRem(0.5);
  }
}
.wrapper-info-text-uploading {
  color: var(--blue-dark);
  background: var(--blue-pale);
  padding: toRem(2);
  border-radius: toRem(1);
  max-width: toRem(60);
  span {
    @include text(s-r-regular);
  }
}
.waiting-seq-msg {
  padding: toRem(1);
  background-color: var(--blue);
  color: var(--white);
  border-radius: toRem(1);
  margin-top: toRem(2);
  @include text(m-r-regular);
}
.icon-block-img {
  margin-right: toRem(0.3);
  margin-bottom: toRem(0.3);
}
@media (max-width: toRem(76.8)) {
  .sequence-item-head {
    display: none;
  }
  .collection-status-item {
    flex-direction: column;
    position: relative;
    padding: 0 0 toRem(2);
    border-radius: toRem(1);
    margin-bottom: toRem(2);
  }
  .sequence-item:first-child {
    height: initial;
    width: fit-content;
    margin: toRem(1);
  }
  .sequence-item {
    width: 100%;
    margin: auto;
    display: flex;
    height: initial;
    &:nth-child(2) {
      width: 100%;
      padding-left: toRem(1.5);
      padding-right: toRem(1.5);
      margin-bottom: toRem(1);
    }
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      width: 100%;
      justify-content: initial;
      padding-left: toRem(1.5);
      padding-right: toRem(1.5);
    }
    &:nth-child(3) {
      justify-content: space-between;
      @include text(m-regular);
      margin-bottom: toRem(1);
    }
    .sequence-pictures-wrapper {
      display: flex;
      width: 100%;
      span {
        margin-right: toRem(0.5);
      }
    }
    &.sequence-pictures {
      justify-content: space-between;
      margin-bottom: toRem(1);
    }
  }
  .desktop {
    display: none;
  }
  .responsive {
    display: block;
  }
  .sequence-link-wrapper {
    margin-top: toRem(2);
    margin-left: auto;
    margin-right: toRem(1.5);
  }
}
</style>
