<template>
  <slot name="subtitle"></slot>
  <p v-if="percentage === 0" :class="progressClasse">
    {{ $t('pages.upload.no-process_desc') }}
  </p>
  <p v-else-if="percentage === 100" :class="progressClasse">
    {{ $t('pages.upload.processed_desc') }}
  </p>
  <p v-else :class="progressClasse">
    {{ $t('pages.upload.processing_desc') }}
  </p>
  <ProgressBar
    :percentage="percentage"
    :error-percentage="errorPercentage"
    :items-broken="conditionalStatusNumbers(uploadSets?.items_status?.broken)"
    :items-rejected="
      conditionalStatusNumbers(uploadSets?.items_status?.rejected)
    "
  />
</template>
<script setup lang="ts">
import { conditionalStatusNumbers } from '@/views/utils/upload'
import ProgressBar from '@/components/upload/ProgressBar.vue'
defineProps({
  uploadSets: { type: Object, default: null },
  percentage: { type: Number, default: 0 },
  errorPercentage: { type: Number, default: 0 },
  progressClasse: { type: String, default: '' }
})
</script>

<style scoped lang="scss"></style>
