<template>
  <p>{{ $t('pages.sequence.sequence_tutorial_text') }}</p>
  <img
    src="@/assets/images/android-upload-tutorial.jpg"
    alt=""
    class="img-upload-tutorial first-tutorial-image"
  />
  <img
    src="@/assets/images/android-upload-tutorial-files.jpg"
    alt=""
    class="img-upload-tutorial"
  />
</template>
<script setup lang="ts"></script>
<style scoped lang="scss">
@media (max-width: toRem(57.6)) {
  .img-upload-tutorial {
    width: calc(50% - #{toRem(0.5)});
    border-radius: toRem(1);
  }
  .first-tutorial-image {
    margin-right: toRem(1);
  }
  .sub-section-bottom {
    margin-top: 0;
  }
}
</style>
