<template>
  <div class="wrapper-pict" v-if="errors[0]?.reason">
    <button
      type="button"
      class="button-pict-info"
      data-test="button-open-error"
      @click="isOpen = !isOpen"
    >
      <div class="wrapper-button-pict-info">
        <i
          :class="[
            'icon-err',
            formatTexts(errors[0].reason, errors.length).icon
          ]"
        />
        <div class="wrapper-pict-info-text">
          <span class="pic-subtitle">
            {{ formatTexts(errors[0].reason, errors.length).subtitle }}
            ({{ errors.length }})
          </span>
          <span class="pic-desc">
            {{ formatTexts(errors[0].reason, errors.length).text }}
          </span>
        </div>
      </div>
      <i :class="chevronClass" />
    </button>
    <ol v-if="errors?.length && isOpen" class="picture-list">
      <li v-for="pic in errors">
        <i class="bi bi-image"></i>
        <span>{{ pic.name }}</span>
      </li>
    </ol>
  </div>
</template>
<script lang="ts" setup>
import { computed, ref } from 'vue'
import { useI18n } from 'vue-i18n'
import type { PropType } from 'vue'
import type { UploadErrorInterface } from '@/views/interfaces/UploadPicturesView'
const { t } = useI18n()
const isOpen = ref<boolean>(false)
defineProps({
  errors: {
    type: Array as PropType<UploadErrorInterface[]>,
    default: []
  },
  isOpen: {
    type: Boolean,
    default: false
  }
})
const chevronClass = computed<string>(() =>
  isOpen.value ? 'bi bi-chevron-down' : 'bi bi-chevron-up'
)
function formatTexts(
  reason: string,
  pictures: number
): { subtitle: string; text: string; icon?: string } {
  if (reason === 'capture_duplicate') {
    return {
      subtitle: t('pages.upload.upload_error_capture_duplicate', pictures),
      text: t('pages.upload.upload_error_capture_duplicate_desc', pictures),
      icon: 'bi bi-images'
    }
  }
  if (reason === 'file_duplicate') {
    return {
      subtitle: t('pages.upload.upload_error_file_duplicate', pictures),
      text: t('pages.upload.upload_error_file_duplicate_desc', pictures),
      icon: 'bi bi-images'
    }
  }
  if (reason === 'invalid_file') {
    return {
      subtitle: t('pages.upload.upload_error_invalid_file', pictures),
      text: t('pages.upload.upload_error_invalid_file_desc', pictures),
      icon: 'bi bi-filetype-jpg'
    }
  }
  if (reason === 'invalid_metadata_loc') {
    return {
      subtitle: t('pages.upload.upload_error_invalid_metadata_loc', pictures),
      text: t('pages.upload.upload_error_invalid_metadata_loc_desc', pictures),
      icon: 'bi bi-geo-alt'
    }
  }
  if (reason === 'invalid_metadata_datetime') {
    return {
      subtitle: t(
        'pages.upload.upload_error_invalid_metadata_datetime',
        pictures
      ),
      text: t(
        'pages.upload.upload_error_invalid_metadata_datetime_desc',
        pictures
      ),
      icon: 'bi bi-calendar2-x'
    }
  }
  return {
    subtitle: t('pages.upload.upload_error_other_error', pictures),
    text: t('pages.upload.upload_error_other_error_desc', pictures)
  }
}
</script>
<style lang="scss" scoped>
.wrapper-pict {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  color: var(--grey-dark);
  border-radius: toRem(1.5);
  border: toRem(0.1) solid var(--grey-dark);
  margin-top: toRem(2);
}
.button-pict-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  padding: toRem(2);
  .icon-err {
    margin-right: 0.5rem;
  }
}
.wrapper-button-pict-info {
  display: flex;
  flex-direction: row;
}
.wrapper-pict-info-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: toRem(1);
}
.pic-subtitle {
  font-weight: bold;
  text-align: initial;
}
.pic-desc {
  font-weight: normal;
  white-space: pre-line;
  text-align: initial;
}
.picture-list {
  padding-left: toRem(4);
  padding-top: toRem(2);
  padding-bottom: toRem(2);
  border-top: toRem(0.1) solid var(--grey-dark);
  max-height: toRem(30);
  overflow-y: auto;
  @include text(s-r-regular);
  li {
    margin-bottom: toRem(1);
    span {
      margin-left: toRem(0.5);
    }
  }
}
@media (max-width: toRem(57.6)) {
  .pic-subtitle {
    @include text(s-regular);
    font-weight: bold;
  }
  .pic-desc {
    @include text(s-regular);
  }
  .wrapper-pict-info {
    padding: toRem(1.5);
    @include text(s-regular);
  }
  .picture-list {
    padding: toRem(1.5);
  }
  .button-pict-info {
    padding: toRem(1.5);
  }
}
</style>
