<template>
  <li :class="['error-item', severity]">
    <div class="wrapper-error-infos">
      <button type="button" class="button-chevron" @click="isOpen = !isOpen">
        <div>
          <i :class="errorIcon"></i>
          <span class="error-text">{{ errorTitle }}</span>
        </div>
        <i :class="chevronClass" />
      </button>
      <template v-for="err in formatByReason">
        <UploadErrorBlock v-if="isOpen" :errors="err" :is-open="isOpen" />
      </template>
    </div>
  </li>
</template>
<script lang="ts" setup>
import { computed, ref } from 'vue'
import type { PropType } from 'vue'
import type { UploadErrorInterface } from '@/views/interfaces/UploadPicturesView'
import { useI18n } from 'vue-i18n'
import UploadErrorBlock from '@/components/upload/UploadErrorBlock.vue'
const { t } = useI18n()
const isOpen = ref<boolean>(false)
const props = defineProps({
  count: {
    type: Number,
    default: 0
  },
  severity: {
    type: String,
    default: null
  },
  pictures: {
    type: Array as PropType<UploadErrorInterface[]>,
    default: []
  }
})
const errorTitle = computed<string>(() => {
  if (props.severity === 'error') {
    return t('pages.upload.pictures_error', {
      count: props.count
    })
  }
  return t('pages.upload.pictures_error_info', {
    count: props.count
  })
})
const errorIcon = computed<string>(() => {
  if (props.severity === 'error') return 'bi bi-exclamation-triangle'
  return 'bi bi-info-circle'
})
const chevronClass = computed<string>(() =>
  isOpen.value ? 'bi bi-chevron-down' : 'bi bi-chevron-up'
)
const formatByReason = computed((): UploadErrorInterface[][] => {
  const grouped = props.pictures.reduce(
    (acc: unknown, item: UploadErrorInterface) => {
      if (
        item?.details &&
        item.details.missing_fields &&
        item.details.missing_fields.length > 0
      ) {
        item.details.missing_fields.forEach((field) => {
          let modifiedReason = ''
          if (field === 'datetime') modifiedReason = `${item.reason}_${field}`
          else modifiedReason = `${item.reason}_loc`
          const newItem = { ...item, reason: modifiedReason }
          if (!acc[modifiedReason]) acc[modifiedReason] = []
          acc[modifiedReason].push(newItem)
        })
      } else {
        if (!acc[item.reason]) acc[item.reason] = []
        if (item.reason !== 'invalid_metadata') acc[item.reason].push(item)
      }
      return acc
    },
    {}
  )
  return Object.values(grouped)
})
</script>
<style lang="scss" scoped>
.error-text {
  font-weight: bold;
  margin-left: toRem(0.5);
}
.error-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: toRem(2);
  border-radius: toRem(1.5);
  @include text(m-regular);
  margin-bottom: toRem(1);
}
.error {
  border-left: toRem(1.4) solid var(--red-pale);
  background-color: var(--orange-pale);
  color: var(--red-pale);
  .icon-pict,
  .icon-err {
    color: var(--red-pale);
    margin-right: toRem(1);
  }
  .button-chevron {
    color: var(--red);
  }
}
.info {
  border-left: toRem(1.4) solid var(--blue);
  background-color: var(--blue-very-pale);
  color: var(--blue);
  .icon-pict {
    color: var(--blue);
    margin-right: toRem(1);
  }
  .button-chevron {
    color: var(--blue-dark);
  }
}
.info-text {
  display: flex;
  flex-direction: column;
}
.pict-info {
  display: flex;
}
.bi-image {
  margin-right: toRem(0.5);
}
.wrapper-error-infos {
  width: 100%;
}
.button-chevron {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
}
@media (max-width: toRem(57.6)) {
  .error-text {
    @include text(s-regular);
    font-weight: bold;
  }
  .error-corpus {
    margin-bottom: toRem(1);
  }
  .error-item {
    padding: toRem(1);
  }
}
</style>
