<template>
  <div class="entry-loader">
    <div v-if="isLoading" class="wrapper-loader">
      <div v-if="!isLoaded" class="loading-block">
        <div class="loader">
          <span class="loader-percentage">{{ loadPercentage }}</span>
          <Loader look="md" :is-loaded="isLoaded" />
        </div>
        <div v-if="uploadedSequence" class="entry-loader-info">
          <LoaderPicturesDetails
            :text="$t('pages.upload.images_count_text')"
            :pictures="uploadedSequence.pictures.length"
            :pictures-count="picturesCount"
          />
        </div>
      </div>
      <UploadErrorMessage v-else-if="uploadError" :upload-error="uploadError" />
      <div v-else :class="['loaded-block', isError ? '' : 'success']">
        <div v-if="isError" class="full-error-wrapper">
          <img src="@/assets/images/error.svg" alt="" />
        </div>
        <img v-else src="@/assets/images/success.svg" alt="" />
        <p v-if="isError">{{ $t('pages.upload.upload_done_error') }}</p>
        <p v-else>{{ $t('pages.upload.upload_done') }}</p>
        <span
          v-if="
            !uploadedSequence?.picturesOnError?.length && otherFilesCount > 0
          "
          class="other-files"
          >{{
            $t('pages.upload.upload_other_files', { count: otherFilesCount })
          }}</span
        >
      </div>
    </div>
    <div v-if="uploadedSequence?.picturesOnError?.length">
      <ul class="error-list">
        <template
          v-for="error in formatErrors(uploadedSequence.picturesOnError)"
        >
          <UploadError
            v-if="error[0]?.reason"
            :count="error.length"
            :severity="error[0].severity"
            :pictures="error"
          />
        </template>
      </ul>
      <div v-if="userAgentAndroid" class="entry-tutorial-error-exif">
        <span class="other-files">{{
          $t('pages.sequence.sequence_tutorial_exif_text')
        }}</span>
        <img
          src="@/assets/images/tutorial-upload-loc.jpg"
          alt=""
          class="img-tutorial-error-exif"
        />
        <img
          src="@/assets/images/tutorial-upload-loc-2.jpg"
          alt=""
          class="img-tutorial-error-exif first-tutorial-img-error"
        />
      </div>
      <span v-if="otherFilesCount > 0" class="other-files">{{
        $t('pages.upload.upload_other_files', { count: otherFilesCount })
      }}</span>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import Loader from '@/components/Loader.vue'
import UploadError from '@/components/upload/UploadError.vue'
import LoaderPicturesDetails from '@/components/upload/LoaderPicturesDetails.vue'
import UploadErrorMessage from '@/components/upload/UploadErrorMessage.vue'
import type { PropType } from 'vue'
import type {
  SequenceInterface,
  UploadErrorInterface
} from '@/views/interfaces/UploadPicturesView'

const props = defineProps({
  loadPercentage: { type: String, default: '0%' },
  isLoaded: { type: Boolean, default: false },
  isLoading: { type: Boolean, default: false },
  uploadedSequence: {
    type: Object as PropType<SequenceInterface | null>,
    default: null
  },
  picturesCount: { type: Number, default: null },
  picturesCountErr: { type: Number, default: null },
  picturesTotalCount: { type: Number, default: null },
  otherFilesCount: { type: Number, default: null },
  uploadError: { type: String, default: null }
})
const isError = computed<boolean>(() => {
  return (
    props.uploadedSequence?.picturesOnError?.length === props.picturesTotalCount
  )
})
const userAgentAndroid = computed<boolean>(() =>
  navigator.userAgent.includes('Android')
)
function formatErrors(
  errors: UploadErrorInterface[]
): [UploadErrorInterface][] {
  const grouped = errors.reduce((acc: unknown, item: UploadErrorInterface) => {
    if (!acc[item.severity]) acc[item.severity] = []
    acc[item.severity].push(item)
    return acc
  }, {})
  return Object.values(grouped)
}
</script>

<style scoped lang="scss">
.entry-tutorial-error-exif {
  display: none;
}
.entry-loader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: toRem(3);
}
.loader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-percentage {
  width: toRem(10);
  position: absolute;
  text-align: center;
  color: var(--blue);
  @include text(xxl-regular);
}
.entry-loader-info {
  margin-top: toRem(2);
}
.text-information {
  margin-bottom: toRem(4);
  width: 100%;
  @include text(s-r-regular);
}
.loading-block,
.loaded-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    height: toRem(12);
  }
}
.full-error-wrapper {
  padding: toRem(1);
  border-radius: 50%;
  border: toRem(0.5) solid var(--red-pale);
  margin-bottom: toRem(2);
}
.success {
  color: var(--green);
  margin-bottom: toRem(2);
}
.other-files {
  color: var(--red-pale);
  @include text(s-regular);
}
.error-list {
  padding-left: 0;
}
@media (max-width: toRem(76.8)) {
  .other-files {
    margin-top: toRem(1);
  }
  .img-tutorial-error-exif {
    width: fit-content;
    height: toRem(27);
    border-radius: toRem(1);
    margin-top: toRem(1);
    margin-bottom: toRem(1);
  }
  .first-tutorial-img-error {
    margin-right: toRem(1);
  }
}
@media (max-width: toRem(57.6)) {
  .entry-tutorial-error-exif {
    display: block;
    padding-top: toRem(1);
    color: var(--red-pale);
    @include text(m-regular);
  }
  .img-tutorial-error-exif {
    width: 100%;
    height: initial;
  }
  .first-tutorial-img-error {
    margin-right: 0;
    margin-bottom: 0;
  }
}
</style>
