<template>
  <Legal :html-content="content">
    <template
      v-if="pageExist('end-user-license-agreement-summary')"
      v-slot:summary
    >
      <div class="entry-summary">
        <Summary />
      </div>
    </template>
  </Legal>
</template>

<script setup lang="ts">
import Legal from '@/components/legal/Legal.vue'
import Summary from '@/components/legal/Summary.vue'
import { legal } from '@/composables/legal'
import { useI18n } from 'vue-i18n'
import { authConfig } from '@/composables/auth'
const { authConf } = authConfig()
const { locale } = useI18n()
const { content } = legal(locale.value, { uri: 'end-user-license-agreement' })
function pageExist(value: string): boolean {
  return authConf.value?.pages.includes(value)
}
</script>

<style scoped lang="scss">
.entry-summary {
  background-color: var(--blue-very-pale);
  border-radius: toRem(1);
  padding: toRem(2);
  margin-bottom: toRem(2);
}
</style>
