<template>
  <main id="homePage" class="entry-page">
    <section class="entry-section">
      <div v-if="sequenceId && focus === 'pic'" class="button-explorer desktop">
        <Link
          icon="bi bi-pen"
          :text="editionButtonText"
          :route="{
            name: 'sequence',
            params: { id: sequenceId }
          }"
          look="button button--white-blue"
        />
      </div>
      <div v-if="sequenceId" class="button-explorer mobile">
        <Link
          icon="bi bi-pen"
          :route="{
            name: 'sequence',
            params: { id: sequenceId }
          }"
          look="button button--white-blue no-text"
        />
      </div>
      <WebsiteViewer
        ref="viewerRef"
        @triggerPicId="formatEditHash"
        @triggerFocus="setFocus"
      />
    </section>
  </main>
</template>

<script lang="ts" setup>
import { ref, onMounted, computed } from 'vue'
import { useI18n } from 'vue-i18n'
import WebsiteViewer from '@/components/WebsiteViewer.vue'
import type ViewerType from '@/components/WebsiteViewer.vue'
import Link from '@/components/Link.vue'
import { isAuth } from '@/composables/auth'
import { sessionCookieDecoded } from '@/utils/auth'
const { isLogged } = isAuth()
const { t } = useI18n()
const viewerRef = ref<InstanceType<typeof ViewerType>>()
const sequenceId = ref<string | null>(null)
const isOwner = ref<boolean>(false)
const focus = ref<string>('')
onMounted(() => {
  if (window.location.href.includes('&focus=pic')) focus.value = 'pic'
  else focus.value = 'map'
})
async function formatEditHash(value: string): void {
  const picMetadatas = viewerRef.value?.viewer?.psv?.getPictureMetadata()
  isOwner.value =
    sessionCookieDecoded()?.account?.name ===
    picMetadatas?.properties['geovisio:producer']
  if (value) sequenceId.value = value
}
function setFocus(value: string): void {
  if (value) focus.value = value
}
const editionButtonText = computed((): string => {
  if (isLogged && isOwner.value) return t('pages.home.edition_button_logged')
  return t('pages.home.edition_button')
})
</script>
<style scoped lang="scss">
.entry-page {
  display: flex;
}
.entry-section {
  width: 100%;
  height: calc(100vh - #{toRem(13.2)});
  position: relative;
}
.button-explorer {
  position: absolute;
  top: toRem(1);
  left: toRem(1);
  z-index: 1;
}
.mobile {
  display: none;
}
.focus-pic,
.logged .entry-section {
  position: fixed;
  top: 0;
  height: calc(100vh - #{toRem(8)});
  width: 100%;
  margin-top: toRem(8);
}
// dvh fix the bug the size of ths viewer depending on the device
// 2 times height because dvh not working on all browsers versions
.full-viewer {
  .entry-section {
    height: 100vh;
    height: calc(100dvh - #{toRem(0)});
  }
}
.gvs-focus-map .entry-report-button {
  display: none;
}
@media (max-width: toRem(84.8)) {
  .entry-page {
    overflow: hidden;
  }
  .entry-section {
    height: calc(100vh - #{toRem(14.5)});
  }
}
@media (max-width: toRem(57.6)) {
  .focus-pic,
  .logged .entry-section {
    position: initial;
    margin-top: 0;
    height: 100vh;
    height: calc(100dvh - #{toRem(0)});
  }
  .entry-section {
    height: 100vh;
  }
  .entry-page {
    padding-top: 0;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .button-explorer {
    left: initial;
    top: toRem(2.5);
    right: toRem(2);
  }
}
</style>
