<template>
  <main class="entry-page">
    <div
      v-if="authConf?.auth?.user_profile?.url?.length"
      class="iframe-wrapper"
    >
      <h1 class="settings-title">{{ $t('pages.account.my_account') }}</h1>
      <iframe :src="authConf?.auth?.user_profile?.url" class="iframe"></iframe>
    </div>
    <div class="tokens-wrapper">
      <MyTokens />
    </div>
  </main>
</template>

<script setup lang="ts">
import MyTokens from '@/components/MyTokens.vue'
import { authConfig } from '@/composables/auth'
const { authConf } = authConfig()
</script>

<style lang="scss" scoped>
.entry-page {
  padding: toRem(4);
  display: flex;
}
.iframe-wrapper {
  width: 50%;
  min-height: calc(100vh - #{toRem(9)});
  margin-right: toRem(4);
}
.tokens-wrapper {
  width: 50%;
}
.iframe {
  width: 100%;
  height: 100%;
}
.settings-title {
  color: var(--blue-dark);
  @include text(h1);
}
@media (max-width: toRem(76.8)) {
  .entry-page {
    padding-right: toRem(2);
    padding-left: toRem(2);
    flex-direction: column;
  }
  .iframe-wrapper,
  .tokens-wrapper {
    width: 100%;
  }
  .iframe {
    height: 100%;
    width: 100%;
    min-height: 65vh;
  }
}
@media (max-width: toRem(57.6)) {
  .entry-page {
    padding-top: toRem(10);
  }
}
</style>
