<template>
  <main class="entry-page">
    <h1 class="settings-title">{{ $t('pages.stats.title') }}</h1>
    <ul v-if="userStats?.length" class="card-list">
      <li
        v-for="stat in userStats"
        :class="[cardClass(stat.type), 'card-item']"
      >
        <img :src="img(stat.img)" alt="" class="img-item" />
        <div class="wrapper-text">
          <span class="number-item">{{ number(stat.count) }}</span>
          <span class="text-item">{{ stat.text }}</span>
        </div>
      </li>
    </ul>
    <div v-else class="no-datas">
      <span class="no-datas-text">{{ $t('pages.stats.no_datas') }}</span>
      <Link
        :text="$t('general.header.upload_text')"
        look="button button--blue"
        :route="{ name: 'upload-pictures' }"
      />
    </div>
  </main>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'
import { useI18n } from 'vue-i18n'
import axios from 'axios'
import { img } from '@/utils/image'
import Link from '@/components/Link.vue'
let userStats = ref<
  { text: string; type: string; img: string; count: number }[] | []
>([])
const { t } = useI18n()
onMounted(async () => {
  try {
    const { data } = await axios.get('api/users/me/collection')
    userStats.value = [
      {
        text: formatText(
          data['stats:items'].count,
          t('pages.stats.title_picture_count')
        ),
        type: 'picture-count',
        img: 'icon/picture-count.svg',
        count: data['stats:items'].count
      },
      {
        text: formatText(
          data['geovisio:length_km'],
          t('pages.stats.title_picture_length')
        ),
        type: 'picture-length',
        img: 'icon/picture-length.svg',
        count: data['geovisio:length_km']
      },
      {
        text: t('pages.stats.title_collection_count'),
        type: 'collection-count',
        img: 'icon/collection-count.svg',
        count: data.links.filter((e: unknown) => e.rel === 'child').length
      }
    ]
  } catch (err) {
    console.log(err)
  }
})
function cardClass(type: string): string {
  if (type === 'picture-count') return 'blue-dark'
  if (type === 'picture-length') return 'blue-geovisio'
  return 'blue'
}
function formatNumber(num: number): string {
  if (num < 999999) return String(num.toFixed(0))
  if (num >= 1000000) {
    const numString = String(num)
    if (numString.length > 6) {
      const numFormatted = (num / 1000000).toFixed(1)
      const splitted = numFormatted.split('.')
      if (splitted[1] === '0') return splitted[0]
      return numFormatted
    }
  }
  return formatZeroNum(num)
}
function number(num: number) {
  if (num.toFixed(0).length > 6) return `${formatNumber(num)} millions`
  else return formatNumber(num)
}
function formatText(num: number, text: string): string {
  if (num.toFixed(0).length > 6) return `${t('pages.stats.article')} ${text}`
  return text
}
function formatZeroNum(num: number) {
  return String(num).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1 ')
}
</script>

<style lang="scss" scoped>
.entry-page {
  background-color: var(--grey);
  min-height: calc(100vh - #{toRem(8)});
  padding: toRem(5);
}
.settings-title {
  color: var(--blue-dark);
  margin-bottom: toRem(4);
  @include text(h1);
}
.card-list {
  display: flex;
  padding: 0;
  margin-top: toRem(4);
}
.card-item {
  border-radius: toRem(2);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: toRem(30);
  width: 33%;
  padding: toRem(4);
  &:nth-child(2) {
    margin-right: toRem(2);
    margin-left: toRem(2);
  }
}
.number-item {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
}
.text-item {
  @include text(m-r-regular);
}
.img-item {
  height: toRem(6);
  width: fit-content;
  margin-bottom: toRem(2);
}
.blue {
  background-color: var(--blue);
}
.blue-geovisio {
  background-color: var(--blue-geovisio);
}
.blue-dark {
  background-color: var(--blue-dark);
}
.wrapper-text {
  display: flex;
  flex-direction: column;
}
.no-datas {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: toRem(10) auto auto;
}
.no-datas-text {
  margin-bottom: toRem(2);
}
@media (max-width: toRem(76.8)) {
  .card-list {
    flex-wrap: wrap;
  }
  .card-item {
    width: calc(50% - #{toRem(1)});
    margin-bottom: toRem(2);
    &:nth-child(2) {
      margin-right: 0;
      margin-left: 0;
    }
    &:first-child {
      margin-right: toRem(2);
    }
  }
  .number-item {
    font-size: 3rem;
  }
  .img-item {
    height: toRem(5);
  }
}
@media (max-width: toRem(50)) {
  .entry-page {
    padding-top: toRem(8);
    padding-right: toRem(2);
    padding-left: toRem(2);
  }
  .card-item {
    width: 100%;
    &:first-child {
      margin-right: 0;
    }
  }
}
</style>
