<template>
  <main class="entry-page">
    <div class="wrapper-section">
      <section class="sub-section">
        <div class="wrapper-head-delete">
          <div v-if="isLogged" class="delete-button">
            <Button
              :text="$t('pages.my_upload.delete_button')"
              look="button--red row-reverse"
              icon="bi bi-trash"
              @trigger="deleteUploadSet(uploadSets)"
            />
          </div>
          <div class="close-button">
            <Link
              look="link--white"
              :route="{ name: 'upload-pictures' }"
              :tooltip="$t('pages.my_upload.desc_complete_tooltip')"
              icon="bi bi-x-lg"
            />
          </div>
        </div>
        <div class="wrapper-uploadset-info">
          <div v-if="uploadSets?.id">
            <button
              data-bs-target="#collapseTarget"
              data-bs-toggle="collapse"
              class="button-collapse"
              @click="headerPanelIsOpen = !headerPanelIsOpen"
            >
              <div class="wrapper-title">
                <h2 class="subtitle">{{ uploadSets.title }}</h2>
              </div>
              <i
                :class="
                  headerPanelIsOpen ? 'bi bi-chevron-up' : 'bi bi-chevron-down'
                "
              />
            </button>
          </div>
          <div
            v-if="uploadSets?.id"
            class="uploadset-info-wrapper collapse"
            id="collapseTarget"
          >
            <div class="uploadset-info-sub-wrapper">
              <div class="uploadset-info">
                <span
                  ><i class="bi bi-cloud-arrow-up"></i>
                  {{ $t('pages.my_upload.info_created') }}
                  {{
                    formatDate(uploadSets.created_at, 'Do MMM YYYY HH:mm:ss')
                  }}</span
                >
                <span>
                  <i class="bi bi-exclamation-triangle"></i>
                  {{
                    $t(
                      'pages.my_upload.info_pict_errors',
                      uploadSets.items_status.broken +
                        uploadSets.items_status.rejected
                    )
                  }}
                </span>
              </div>
              <div class="uploadset-info">
                <span
                  ><i class="bi bi-collection"></i>
                  {{
                    $t(
                      'pages.my_upload.info_sequence_created',
                      uploadSets.associated_collections.length
                    )
                  }}
                </span>
                <span v-if="uploadSets.metadata?.folders?.length"
                  ><i class="bi bi-folder"></i>
                  {{
                    $t(
                      'pages.my_upload.info_folders',
                      uploadSets.metadata.folders.length
                    )
                  }}</span
                >
              </div>
            </div>
            <div
              v-if="uploadSets.metadata?.folders?.length"
              class="folder-list-wrapper"
            >
              <span>
                {{
                  $t(
                    'pages.my_upload.info_name_folders',
                    uploadSets.metadata.folders.length
                  )
                }}
              </span>
              <div class="folder-list">
                <span
                  v-for="folder in uploadSets.metadata.folders"
                  class="folder-item"
                  ><i class="bi bi-folder-fill"></i>
                  <div class="folder-item-info">
                    <span class="folder-name">/{{ folder.folderName }}</span>
                    <span>
                      {{ $t('pages.my_upload.info_files_count', folder.files) }}
                    </span>
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div v-if="!uploadSets?.completed" class="wrapper-info-new-download">
          <div class="desc-info-uploadset">
            <div class="desc-info-uploadset-wrapper">
              <div class="p-link">
                <i class="bi bi-info-circle-fill icon-info"></i>
                <div class="wrapper-span-link">
                  <span class="span-link"
                    >{{ $t('pages.my_upload.desc_info_title') }}
                  </span>
                  <span class="span-link"
                    >{{ $t('pages.my_upload.desc_info_text') }}
                  </span>
                </div>
              </div>
              <div v-if="uploadSets" class="entry-loader-info">
                <LoaderPicturesDetails
                  look="sm"
                  :text="$t('pages.my_upload.images_count_text')"
                  :pictures="uploadSets.nb_items"
                  :pictures-count="uploadSets.estimated_nb_files"
                />
              </div>
            </div>
          </div>
          <div
            v-if="!uploadSets?.completed && uploadSets?.nb_items > 0"
            class="wrapper-complete"
          >
            <span>{{ $t('pages.my_upload.desc_complete_button') }}</span>
            <div class="wrapper-button-complete">
              <Button
                :text="$t('pages.my_upload.complete_button')"
                look="button button--white"
                @trigger="completeAnUploadSet(uploadSets)"
              />
            </div>
          </div>
        </div>
        <div v-else class="wrapper-complete completed">
          <span
            >{{ $t('pages.my_upload.desc_completed_button')
            }}<i class="bi bi-check-circle"></i
          ></span>
          <Link
            text="Voir mes photos"
            look="button button--white-blue"
            :route="{ name: 'my-sequences' }"
          />
        </div>
        <License
          v-if="authConf?.license?.url"
          :url="authConf.license.url"
          :text="authConf.license.id"
          class="entry-license"
        />
        <div v-if="isUploadCanceled" class="entry-tutorial">
          <Tutorial />
        </div>
        <form class="form">
          <div class="wrapper-form">
            <InputUpload
              v-if="inputIsDisplayed"
              :is-logged="isLogged"
              :text="$t('pages.upload.input_label')"
              :text-second-part="$t('pages.upload.import_word')"
              :text-picture-type="$t('pages.upload.import_type')"
              look="yellow"
              data-displayModal="input-add-pictures"
              @trigger="
                addMyPictures(
                  $event,
                  $t('pages.upload.error_upload'),
                  $t('pages.upload.error_upload_img'),
                  $t('pages.my_upload.no_upload_text')
                )
              "
              @triggerCancel="isUploadCanceled = true"
            />
            <div v-else class="wrapper-uploading">
              <UploadingImg />
              <span>{{ $t('pages.upload.uploading_process') }}</span>
              <div class="cancel-button">
                <Button
                  :text="$t('pages.upload.uploading_cancel')"
                  look="button--red"
                  @trigger="cancelUpload($t('pages.upload.cancel_message'))"
                />
              </div>
              <span class="loader-text-warning">{{
                $t('pages.upload.leave_message')
              }}</span>
            </div>
          </div>
        </form>
      </section>
      <section class="sub-section">
        <h2 class="subtitle">{{ $t('pages.upload.subtitle_process') }}</h2>
        <FolderList
          v-if="isFolder(allPictures) && folderUploading"
          :pictures="allPictures"
          :current-folder="folderUploading"
        />
        <div v-if="!isLoading" class="entry-no-img">
          <img src="@/assets/images/no-uploaded-img.svg" alt="" />
          <p>{{ $t('pages.upload.no_img_text') }}</p>
          <UploadErrorMessage v-if="authError" :upload-error="authError" />
        </div>
        <UploadLoader
          :load-percentage="loadPercentage"
          :is-loaded="isLoaded"
          :is-loading="isLoading"
          :upload-error="uploadError"
          :uploaded-sequence="uploadedSequence"
          :pictures-count="picturesCount"
          :pictures-count-err="
            conditionalStatusNumbers(uploadSets?.items_status?.broken) +
            conditionalStatusNumbers(uploadSets?.items_status?.rejected)
          "
          :pictures-total-count="totalFiles"
        />
        <div class="processing-wrapper">
          <TreatmentBlock
            :upload-sets="uploadSets"
            :percentage="progressBarPercentage"
            :progress-classe="progressClasse"
            :error-percentage="errorPercentage"
          >
            <template v-slot:subtitle>
              <h3 class="subtitle subtitle-treatments">
                <span>{{ $t('pages.upload.import_treatment_title') }}</span>
                <span v-if="uploadSets && !uploadSetForcedComplete"
                  >{{ clacNbItems }}/{{ uploadSets.estimated_nb_files }}</span
                >
              </h3>
            </template>
          </TreatmentBlock>
        </div>
      </section>
      <section v-if="uploadSets" class="sub-section-bottom">
        <SequenceSection
          :list-displayed="uploadSets.dispatched || (!isLoaded && !isLoading)"
          :upload-sets="uploadSets"
          :new-seq-title="editNewSequenceTitle"
        />
      </section>
    </div>
    <Toast :text="toastText" look="error" @trigger="toastText = ''" />
    <Toast :text="noUploadText" look="normal" @trigger="noUploadText = ''" />
  </main>
</template>

<script lang="ts" setup>
import { useSequenceStore } from '@/store/sequence'
import { useUploadStore } from '@/store/upload'
import { storeToRefs } from 'pinia'
import { useI18n } from 'vue-i18n'
import { useRoute, useRouter } from 'vue-router'
import InputUpload from '@/components/InputUpload.vue'
import Button from '@/components/Button.vue'
import Link from '@/components/Link.vue'
import Toast from '@/components/Toast.vue'
import UploadLoader from '@/components/upload/UploadLoader.vue'
import FolderList from '@/components/upload/FolderList.vue'
import License from '@/components/License.vue'
import UploadingImg from '@/components/UploadingImg.vue'
import UploadErrorMessage from '@/components/upload/UploadErrorMessage.vue'
import type { UploadSetCreatedInterface } from '@/views/interfaces/UploadPicturesView'
import { isAuth, authConfig } from '@/composables/auth'
import { deleteAnUploadSet } from '@/views/utils/sequence/request'
import { manageRequestErrors } from '@/composables/error'
import { completeUploadSet } from '@/views/utils/upload/request'
import {
  uploadComputed,
  vueHookMyUpload,
  commonVueHooks,
  getAllValues,
  cancelUpload,
  addMyPictures
} from '@/composables/upload'
import { isFolder, conditionalStatusNumbers } from '@/views/utils/upload'
import { formatDate } from '@/utils/dates'
import { ref, watch } from 'vue'
import Tutorial from '@/components/upload/Tutorial.vue'
import TreatmentBlock from '@/components/upload/TreatmentBlock.vue'
import SequenceSection from '@/components/upload/SequenceSection.vue'
import LoaderPicturesDetails from '@/components/upload/LoaderPicturesDetails.vue'
import { sessionCookieDecoded } from '@/utils/auth'
import { useCookies } from 'vue3-cookies'
const { isLogged } = isAuth()
const {
  clacNbItems,
  progressBarPercentage,
  errorPercentage,
  progressClasse,
  inputIsDisplayed
} = uploadComputed()
const {
  loadPercentage,
  authError,
  picturesCount,
  totalFiles,
  allPictures,
  isLoading,
  isLoaded,
  isUploadCanceled,
  uploadError,
  uploadSetForcedComplete,
  uploadedSequence,
  folderUploading,
  editNewSequenceTitle,
  uploadSets,
  noUploadText
} = getAllValues()
const { cookies } = useCookies()
const sequenceStore = useSequenceStore()
const uploadStore = useUploadStore()
const { toastText } = storeToRefs(sequenceStore)
const { authConf } = authConfig()
const { t } = useI18n()
const route = useRoute()
const router = useRouter()
let headerPanelIsOpen = ref<boolean>(true)

vueHookMyUpload()
commonVueHooks(t('pages.upload.leave_message'))
watch(authConf, (newValAuth) => {
  if (newValAuth) {
    const cookie = sessionCookieDecoded()
    const router = useRouter()
    if (
      newValAuth?.auth?.enforce_tos_acceptance &&
      !cookie?.account?.tos_accepted
    ) {
      cookies.set('redirectUrl', router.currentRoute.value.name)
      router.push({ name: 'tos-validation' })
    }
  }
})
async function completeAnUploadSet(uploadSet: string): Promise<void> {
  try {
    const { data } = await completeUploadSet(uploadSet.id)
    uploadSets.value = { ...uploadSets.value, completed: data.completed }
    uploadStore.getUploadSets('completed=FALSE')
  } catch (error: unknown) {
    const err = error as { response: { data: { message: string } } }
    manageRequestErrors(err, t('general.error_text'), route.path, true)
  }
}
async function deleteUploadSet(
  uploadSet: UploadSetCreatedInterface
): Promise<void> {
  if (confirm(t('pages.my_upload.conf_upload_msg'))) {
    try {
      await deleteAnUploadSet(uploadSet.id)
      await router.push({ name: 'upload-pictures' })
      uploadStore.addUpload(
        `${formatDate(uploadSets.created_at, 'll')} ${formatDate(
          uploadSets.created_at,
          'HH:mm:ss'
        )}`
      )
    } catch (error: unknown) {
      const err = error as { response: { data: { message: string } } }
      manageRequestErrors(err, t('general.error_text'), route.path, true)
    }
  }
}
</script>

<style scoped lang="scss">
@use '@/assets/upload/index' as *;
@use '@/assets/upload/wrapper-uploading' as *;
.button-collapse {
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.bi-plus,
.bi-dash {
  color: var(--grey-dark);
  font-size: toRem(3);
}
.wrapper-title {
  display: flex;
  align-items: center;
}
.wrapper-info-new-download {
  background-color: var(--yellow-pale);
  padding: toRem(2);
  margin-bottom: toRem(2);
  border-bottom-left-radius: toRem(1);
  border-bottom-right-radius: toRem(1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.sub-section:has(.completed) .wrapper-uploadset-info {
  padding-bottom: toRem(1);
  border-radius: toRem(1);
}
.desc-info-uploadset-wrapper {
  display: flex;
  align-items: center;
}
.desc-info-uploadset {
  display: flex;
  flex-direction: column;
  color: var(--grey-dark);
  padding: toRem(1.5);
  border: toRem(0.1) solid var(--yellow);
  border-left: toRem(1.4) solid var(--yellow);
  border-radius: toRem(1.5);
  position: relative;
  width: 100%;
  @include text(s-regular);
}
.icon-info {
  margin-right: toRem(0.5);
}
.p-link {
  display: flex;
  width: 100%;
  margin-bottom: 0;
  @include text(m-r-regular);
}
.wrapper-span-link {
  display: flex;
  flex-direction: column;
  margin-right: toRem(2);
  .span-link:first-child {
    font-weight: bold;
  }
}
.wrapper-uploadset-info {
  background-color: var(--yellow-pale);
  padding: toRem(1.5) toRem(2) toRem(0.5);
  border-radius: toRem(1) toRem(1) 0 0;
  color: var(--blue-dark);
  @include text(m-regular);
}
.folder-list-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: toRem(1);
}
.folder-list {
  display: flex;
  flex-wrap: wrap;
  max-height: toRem(12);
  overflow-y: auto;
  margin-top: toRem(1);
}
.folder-item {
  display: flex;
  margin-right: toRem(1);
  background-color: var(--blue-very-pale);
  padding: toRem(0.3) toRem(1);
  margin-bottom: toRem(0.5);
  border-radius: toRem(1);
  width: calc(33% - #{toRem(1)});
  @include text(xss-regular);
  i {
    color: var(--yellow);
    font-size: toRem(3);
    margin-right: toRem(0.3);
  }
}
.folder-name {
  font-weight: bold;
}
.wrapper-button-complete {
  min-width: toRem(13);
}
.entry-loader-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: toRem(1.5);
  height: 100%;
  aspect-ratio: 1 / 1;
  background: var(--blue-very-pale);
  border-radius: 50%;
  border: toRem(0.2) solid var(--blue);
}
.wrapper-complete {
  border-radius: toRem(1);
  display: flex;
  align-items: center;
  margin-top: toRem(2);
  @include text(s-regular);
  span {
    margin-right: toRem(2);
  }
}
.completed {
  padding: toRem(1) toRem(2);
  background-color: var(--green-dark);
  color: var(--white);
  margin-bottom: toRem(2);
  justify-content: space-between;
  @include text(m-regular);
}
.wrapper-head-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: toRem(1);
}
.delete-button {
  width: fit-content;
}
.close-button {
  background-color: var(--blue-dark);
  height: toRem(2.5);
  width: toRem(2.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.uploadset-info-sub-wrapper {
  display: flex;
  margin-top: toRem(1);
}
.folder-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: toRem(0.5);
  margin-top: 0;
}
.uploadset-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  span {
    margin-bottom: toRem(0.5);
  }
}
.subtitle-info,
.subtitle {
  margin-bottom: 0;
}
.subtitle-treatments {
  margin-bottom: toRem(1);
}
.wrapper-form {
  background-color: var(--yellow-pale);
  border-color: var(--yellow);
}
@media (max-width: toRem(130)) {
  .folder-item {
    width: calc(33% - #{toRem(1.5)});
  }
  .desc-info-uploadset-wrapper {
    flex-direction: column;
  }
  .p-link {
    margin-bottom: toRem(2);
  }
}
@media (max-width: toRem(102.4)) {
  .folder-item {
    width: calc(50% - #{toRem(1)});
  }
  .uploadset-info-wrapper {
    flex-direction: column;
  }
  .uploadset-info {
    width: 100%;
  }
  .wrapper-complete,
  .uploadset-info-sub-wrapper {
    flex-direction: column;
  }
  .wrapper-complete span {
    margin-bottom: toRem(1);
    margin-right: 0;
  }
  .desc-info-uploadset {
    padding: toRem(1);
  }
}
@media (max-width: toRem(76.8)) {
  .wrapper-uploadset-info {
    @include text(s-regular);
  }

  .wrapper-complete {
    span {
      margin-right: 0;
      margin-bottom: toRem(1);
    }
  }
}
</style>
