<template>
  <Legal :html-content="content" />
</template>

<script setup lang="ts">
import Legal from '@/components/legal/Legal.vue'
import { legal } from '@/composables/legal'
import { useI18n } from 'vue-i18n'
const { locale } = useI18n()
const { content } = legal(locale.value, { uri: 'terms-of-service' })
</script>
