<template>
  <main class="entry-page">
    <section class="section">
      <h1 class="main-title">
        <i class="bi bi-check-circle-fill"></i>
        {{ $t('pages.token_accepted.title') }}
      </h1>
      <p>
        {{ $t('pages.token_accepted.text') }}
      </p>
    </section>
  </main>
</template>

<script setup lang="ts"></script>

<style scoped lang="scss">
@use '@/assets/components/generic-block' as *;
</style>
