<template>
  <main class="entry-page">
    <section class="section">
      <h1 class="main-title">
        <i class="bi bi-check-circle-fill"></i>
        {{ $t('pages.tos_validation.title') }}
      </h1>
      <div class="tos-block">
        <div v-html="content" />
      </div>
      <form @submit.prevent="validTos">
        <div class="summary-wrapper">
          <div class="input-wrapper">
            <InputCheckbox
              :is-checked="tosAccepted"
              name="tos"
              @trigger="tosAccepted = !tosAccepted"
            />
            <label for="tos" class="label">
              {{ $t('pages.tos_validation.tos_text') }}
            </label>
          </div>
          <p class="summary-title">
            {{ $t('pages.tos_validation.summary_title') }}
          </p>
          <Summary />
        </div>
        <Button
          :text="$t('pages.tos_validation.validation_button')"
          data-test="button-tos"
          :disabled="!tosAccepted"
          look="button--blue"
          type="submit"
        />
      </form>
    </section>
  </main>
</template>
<script setup lang="ts">
import { useRouter, useRoute } from 'vue-router'
import { useCookies } from 'vue3-cookies'
import Button from '@/components/Button.vue'
import axios from 'axios'
import { sessionCookieDecoded } from '@/utils/auth'
import { legal } from '@/composables/legal'
import InputCheckbox from '@/components/InputCheckbox.vue'
import Summary from '@/components/legal/Summary.vue'
import { ref } from 'vue'
const { cookies } = useCookies()
import { useI18n } from 'vue-i18n'
const { locale } = useI18n()
const { content } = legal(locale.value, { uri: 'end-user-license-agreement' })
const router = useRouter()
const route = useRoute()
let tosAccepted = ref<boolean>(false)
async function validTos(): Promise<void> {
  if (!tosAccepted.value) return
  try {
    await axios.post('api/users/me/accept_tos')
    const cookie = sessionCookieDecoded()
    if (route.query?.next_url) {
      const nextUrl = route.query.next_url
      if (nextUrl.startsWith('/')) return router.push(nextUrl)
      return (window.location.href = nextUrl)
    }
    if (cookie?.account.id && cookie?.account.tos_accepted) {
      if (cookies.get('redirectUrl')) {
        await router.push({ name: cookies.get('redirectUrl') })
        cookies.remove('redirectUrl')
      } else await router.push({ name: 'home' })
    }
  } catch (err) {
    console.log(err)
  }
}
</script>
<style scoped lang="scss">
@use '@/assets/components/generic-block' as *;
.entry-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - #{toRem(8)});
  background-color: var(--grey);
  padding: toRem(5);
  color: var(--grey-dark);
}
.bi-check-circle-fill {
  margin-right: toRem(0.5);
}
.summary-wrapper {
  background-color: var(--blue-pale);
  padding: toRem(2);
  margin-bottom: toRem(2);
  border-radius: toRem(1);
  @include text(m-r-regular);
}
.input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: toRem(2);
}
.summary-title {
  margin-bottom: toRem(1);
}
.tos-block {
  height: toRem(40);
  overflow-y: auto;
  border: toRem(0.1) solid var(--grey-pale);
  border-radius: toRem(1);
  padding: toRem(2);
  margin-bottom: toRem(2);
}
.label {
  display: flex;
  margin-left: toRem(1);
}
@media (max-width: toRem(57.6)) {
  .label {
    flex-wrap: wrap;
  }
}
</style>
