<template>
  <main v-if="isLogged" class="entry-page">
    <section class="section">
      <InformationCard
        v-if="informationCardDisplayed"
        look="blue"
        :text="$t('pages.upload.description')"
      >
        <template v-slot:cross>
          <Button
            icon="bi bi-x-lg"
            look="no-text-blue-dark"
            @trigger="informationCardDisplayed = false"
          />
        </template>
        <template v-slot:title>
          <h3 class="subtitle subtitle-info">
            {{ $t('pages.upload.title') }}
          </h3>
        </template>
        <template v-slot:button>
          <div class="button-know-more">
            <Link
              :text="$t('pages.upload.know_more_button')"
              :route="{ name: 'why-contribute', hash: '#command' }"
              look="button button--white-blue"
              class="entry-button"
            />
          </div>
        </template>
      </InformationCard>
    </section>
    <div class="wrapper-section">
      <section class="sub-section">
        <h2 class="subtitle">{{ $t('pages.upload.subtitle_edit_title') }}</h2>
        <span class="desc-edit-title">{{
          $t('pages.upload.desc_edit_title')
        }}</span>
        <div class="wrapper-edit-text">
          <EditText
            :default-text="newSequenceTitle || sequenceTitle"
            :form-title="$t('pages.sequence.sequence_form_title')"
            :is-loading="isLoading"
            :is-loaded="isLoaded"
            @triggerNewText="setNewSequenceTitle"
          />
        </div>
        <License
          v-if="authConf?.license?.url"
          :url="authConf.license.url"
          :text="authConf.license.id"
          class="entry-license"
        />
        <div v-if="isUploadCanceled" class="entry-tutorial">
          <Tutorial />
        </div>
        <form class="form">
          <div class="wrapper-form">
            <InputUpload
              v-if="inputIsDisplayed"
              :is-logged="isLogged"
              :text="$t('pages.upload.input_label')"
              :text-second-part="$t('pages.upload.import_word')"
              :text-picture-type="$t('pages.upload.import_type')"
              data-displayModal="input-add-pictures"
              @trigger="
                addPictures(
                  $event,
                  $t('pages.upload.error_upload'),
                  $t('pages.upload.error_upload_img'),
                  $route.path
                )
              "
              @triggerCancel="isUploadCanceled = true"
            />
            <div v-else class="wrapper-uploading">
              <UploadingImg />
              <span>{{ $t('pages.upload.uploading_process') }}</span>
              <div class="cancel-button">
                <Button
                  :text="$t('pages.upload.uploading_cancel')"
                  look="button--red"
                  @trigger="cancelUpload($t('pages.upload.cancel_message'))"
                />
              </div>
              <span class="loader-text-warning">{{
                $t('pages.upload.leave_message')
              }}</span>
            </div>
          </div>
        </form>
      </section>
      <section class="sub-section">
        <h2 class="subtitle">{{ $t('pages.upload.subtitle_process') }}</h2>
        <FolderList
          v-if="isFolder(allPictures) && folderUploading"
          :pictures="allPictures"
          :current-folder="folderUploading"
        />
        <div v-if="!isLoading" class="entry-no-img">
          <img src="@/assets/images/no-uploaded-img.svg" alt="" />
          <p>{{ $t('pages.upload.no_img_text') }}</p>
          <UploadErrorMessage v-if="authError" :upload-error="authError" />
        </div>
        <UploadLoader
          :load-percentage="loadPercentage"
          :is-loading="isLoading"
          :is-loaded="isLoaded"
          :upload-error="uploadError"
          :uploaded-sequence="uploadedSequence"
          :pictures-count="picturesCount"
          :pictures-count-err="
            conditionalStatusNumbers(uploadSets?.items_status?.broken) +
            conditionalStatusNumbers(uploadSets?.items_status?.rejected)
          "
          :pictures-total-count="totalFiles"
        />
        <div class="processing-wrapper">
          <TreatmentBlock
            :upload-sets="uploadSets"
            :percentage="progressBarPercentage"
            :progress-classe="progressClasse"
            :error-percentage="errorPercentage"
          >
            <template v-slot:subtitle>
              <h3 class="subtitle subtitle-treatments">
                <span>{{ $t('pages.upload.import_treatment_title') }}</span>
                <div v-if="uploadSets">
                  <span v-if="uploadSetForcedComplete"
                    >{{ uploadSets.estimated_nb_files }}/{{
                      uploadSets.estimated_nb_files
                    }}</span
                  >
                  <span v-else
                    >{{ clacNbItems }}/{{ uploadSets.estimated_nb_files }}</span
                  >
                </div>
              </h3>
            </template>
          </TreatmentBlock>
        </div>
      </section>
      <section v-if="uploadSets" class="sub-section-bottom">
        <SequenceSection
          :list-displayed="uploadSets.dispatched"
          :is-loading="isLoading"
          :is-loaded="isLoaded"
          :upload-sets="uploadSets"
          :new-seq-title="editNewSequenceTitle"
        />
      </section>
    </div>
    <Toast :text="toastText" :look="toastLook" @trigger="toastText = ''" />
  </main>
</template>

<script lang="ts" setup>
import { useSequenceStore } from '@/store/sequence'
import { storeToRefs } from 'pinia'
import { useI18n } from 'vue-i18n'
import InputUpload from '@/components/InputUpload.vue'
import Button from '@/components/Button.vue'
import EditText from '@/components/EditText.vue'
import Link from '@/components/Link.vue'
import Toast from '@/components/Toast.vue'
import InformationCard from '@/components/InformationCard.vue'
import UploadLoader from '@/components/upload/UploadLoader.vue'
import TreatmentBlock from '@/components/upload/TreatmentBlock.vue'
import FolderList from '@/components/upload/FolderList.vue'
import Tutorial from '@/components/upload/Tutorial.vue'
import License from '@/components/License.vue'
import UploadingImg from '@/components/UploadingImg.vue'
import UploadErrorMessage from '@/components/upload/UploadErrorMessage.vue'
import { isAuth, authConfig } from '@/composables/auth'
import {
  uploadComputed,
  setNewSequenceTitle,
  vueHookUpload,
  commonVueHooks,
  getAllValues,
  cancelUpload,
  addPictures
} from '@/composables/upload'
import { isFolder, conditionalStatusNumbers } from '@/views/utils/upload'
import { watch } from 'vue'
import { useUploadStore } from '@/store/upload'
import SequenceSection from '@/components/upload/SequenceSection.vue'
import { sessionCookieDecoded } from '@/utils/auth'
import { useRouter } from 'vue-router'
import { useCookies } from 'vue3-cookies'
const { isLogged } = isAuth()
const {
  clacNbItems,
  progressBarPercentage,
  errorPercentage,
  progressClasse,
  inputIsDisplayed
} = uploadComputed()
const {
  loadPercentage,
  newSequenceTitle,
  sequenceTitle,
  authError,
  picturesCount,
  totalFiles,
  allPictures,
  isUploadCanceled,
  uploadError,
  informationCardDisplayed,
  uploadSetForcedComplete,
  uploadedSequence,
  folderUploading,
  editNewSequenceTitle,
  uploadSets,
  isLoading,
  isLoaded
} = getAllValues()
const { cookies } = useCookies()
const sequenceStore = useSequenceStore()
const { toastText, toastLook } = storeToRefs(sequenceStore)
const { authConf } = authConfig()
const { t } = useI18n()
const uploadStore = useUploadStore()
const { upload } = storeToRefs(uploadStore)
const router = useRouter()
vueHookUpload(t('pages.upload.error_auth'), t('pages.upload.sequence_title'))
commonVueHooks(t('pages.upload.leave_message'))
watch([upload], () => {
  if (upload.value?.length) {
    sequenceStore.addToastText(
      t('pages.upload.upload_delete_message', upload.value),
      'success'
    )
  }
})
watch(authConf, (newValAuth) => {
  if (newValAuth) {
    const cookie = sessionCookieDecoded()
    if (
      newValAuth?.auth?.enforce_tos_acceptance &&
      !cookie?.account?.tos_accepted
    ) {
      cookies.set('redirectUrl', router.currentRoute.value.name)
      router.push({ name: 'tos-validation' })
    }
  }
})
</script>

<style scoped lang="scss">
@use '@/assets/upload/index' as *;
@use '@/assets/upload/wrapper-uploading' as *;
.button-know-more {
  width: toRem(15.5);
  margin-right: toRem(3);
  margin-bottom: toRem(1);
}
.subtitle-info {
  margin-bottom: 0;
}
</style>
