<template>
  <span v-if="uploadSets?.length" class="upload-set">
    {{ uploadSets.length }}
  </span>
</template>
<script setup lang="ts">
import { useUploadStore } from '@/store/upload'
import { storeToRefs } from 'pinia'
const uploadStore = useUploadStore()
const { uploadSets } = storeToRefs(uploadStore)
</script>
<style scoped lang="scss">
.upload-set {
  @include text(xss-regular);
  background-color: var(--red-pale);
  color: var(--white);
  height: toRem(1.8);
  width: toRem(1.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: toRem(0.5);
}
</style>
