<template>
  <div :class="['entry-edit', { 'edit-mode': isEditTitle }]">
    <span v-if="isEditTitle && formTitle" class="form-title">{{
      formTitle
    }}</span>
    <div class="entry-form">
      <form
        v-if="isEditTitle && !isDisabled"
        @submit.prevent="isEditTitle = false"
        class="edit-form"
      >
        <div class="wrapper-input">
          <Input
            id="upload-title"
            :text="text || ''"
            :placeholder="$t('pages.upload.edit_placeholder_input')"
            @input="changeTextValue"
          />
        </div>
        <Button
          id="valid-button"
          :text="$t('pages.upload.ok_button')"
          type="submit"
          look="button--white"
          @trigger="validNewName"
        />
        <div class="close-button">
          <Button
            id="close-button"
            look="no-text-blue-dark"
            icon="bi bi-x-lg"
            @trigger="closeEdition"
          />
        </div>
      </form>
      <span v-else class="title">{{ text }}</span>
      <div v-if="!isEditTitle" class="edit-button">
        <Button
          :text="$t('pages.upload.edit_title')"
          look="link--black row-reverse"
          icon="bi bi-pen"
          :disabled="isDisabled"
          @trigger="goToEditMode"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref, computed } from 'vue'
import Button from '@/components/Button.vue'
import Input from '@/components/Input.vue'

const emit = defineEmits<{
  (e: 'triggerNewText', value: string | null): void
}>()
const props = defineProps({
  defaultText: { type: String, default: null },
  isLoading: { type: Boolean, default: false },
  isLoaded: { type: Boolean, default: false },
  formTitle: { type: String, default: null }
})
let titleToEdit = ref<string | null>(null)
let isEditTitle = ref<boolean>(false)

function changeTextValue(value: string): void {
  titleToEdit.value = value
}
function closeEdition(): void {
  isEditTitle.value = false
  titleToEdit.value = null
}
function validNewName(): void {
  emit('triggerNewText', titleToEdit.value)
  isEditTitle.value = false
}
function goToEditMode(): void {
  isEditTitle.value = true
  titleToEdit.value = props.defaultText
}

const text = computed<string | null>(() => {
  if (isEditTitle.value) return titleToEdit.value
  if (props.defaultText) return props.defaultText
  return null
})

const isDisabled = computed<boolean>(() => props.isLoading && !props.isLoaded)
</script>

<style scoped lang="scss">
.title {
  color: var(--blue-dark);
  text-align: left;
  @include text(s-regular);
}
.form-title {
  text-align: left;
  width: 100%;
  margin-bottom: toRem(0.3);
  @include text(xs-r-regular);
}
.entry-edit {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.entry-form {
  display: flex;
  align-items: center;
}
.edit-mode {
  background-color: var(--blue-very-pale);
  padding: toRem(1);
  border-radius: toRem(0.4);
  width: 100%;
}
.wrapper-edit {
  display: flex;
  align-items: center;
  margin-bottom: toRem(1);
  width: 100%;
}
.edit-button {
  min-width: toRem(8);
  margin-left: toRem(1);
  z-index: 2;
}
.wrapper-input {
  position: relative;
  margin-right: toRem(1);
  width: 100%;
}
.edit-form {
  width: 100%;
  display: flex;
  align-items: center;
}
.close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: toRem(2);
  width: toRem(2);
  top: toRem(0.5);
  right: toRem(0.5);
  border-radius: toRem(0.5);
}
</style>
