<template>
  <div :class="['information-block', look]">
    <div class="wrapper-cross">
      <slot name="cross"></slot>
    </div>
    <div>
      <div class="icon-block">
        <img
          src="@/assets/images/icon/info-blue.svg"
          alt=""
          class="icon-block-img"
        />
        <slot name="title"></slot>
      </div>
      <p v-if="text" v-html="text" class="information-text"></p>
    </div>
    <slot name="button"></slot>
  </div>
</template>

<script setup lang="ts">
defineProps({
  text: { type: String, default: null },
  look: { type: String, default: '' }
})
</script>

<style scoped lang="scss">
h3 {
  padding: 0;
  margin: 0;
}
.information-block {
  position: relative;
  border-left: toRem(1.4) solid var(--blue);
  padding: toRem(1.8) toRem(1.8) toRem(1.3);
  background-color: var(--white);
  border-radius: toRem(1.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrapper-cross {
  position: absolute;
  top: toRem(1);
  right: toRem(1);
}
.blue {
  background-color: var(--blue-pale);
}
.icon-block {
  display: flex;
  align-items: center;
  margin-bottom: toRem(0.5);
}
.icon-block-img {
  margin-right: toRem(0.5);
  height: toRem(2);
}
.information-text {
  margin-top: toRem(1);
  white-space: pre-wrap;
  @include text(m-r-regular);
}
@media (max-width: toRem(57.6)) {
  .information-block {
    border-left: toRem(1) solid var(--blue);
  }
  .icon-block {
    flex-direction: column;
    align-items: flex-start;
  }
}
</style>
