<template>
  <label
    @dragover="dragover"
    @dragleave="dragleave"
    @drop="drop"
    :class="[
      'file-upload',
      { dragging: isDragging },
      { 'not-logged': !isLogged },
      look
    ]"
  >
    <input
      ref="upload"
      type="file"
      multiple
      :disabled="!isLogged"
      accept="image/jpeg"
      @change="changeFile"
      @cancel="cancelUpload"
      class="input-file"
    />
    <i class="bi bi-cloud-upload-fill"></i>
    <span v-if="text" class="input-text">
      {{ text }}
    </span>
    <span v-if="textSecondPart" class="last-word">{{ textSecondPart }}</span>
    <span v-if="textPictureType" class="input-text-type">{{
      textPictureType
    }}</span>
  </label>
</template>

<script lang="ts" setup>
import { ref } from 'vue'
import type {
  HTMLInputChangeEvent,
  FileSystemEntry,
  FileSystemFileEntry,
  FileSystemDirectoryEntry,
  FileSystemDirectoryReader
} from './interfaces/upload'
import type { FolderInterface } from '@/views/interfaces/UploadPicturesView'
const emit = defineEmits<{
  (e: 'trigger', value: FolderInterface[] | File[] | FileList): void
  (e: 'triggerCancel'): void
}>()
let isDragging = ref<boolean>(false)

defineProps({
  isLogged: { type: Boolean, default: false },
  text: { type: String, default: null },
  textPictureType: { type: String, default: null },
  textSecondPart: { type: String, default: null },
  look: { type: String, default: '' }
})

function cancelUpload(): void {
  if (navigator.userAgent.includes('Android')) emit('triggerCancel')
}
function changeFile(event: Event): void {
  const { target } = event as HTMLInputChangeEvent
  if (target && target.files) {
    if (!checkPictType(target.files)) return
    emit('trigger', target.files)
  }
}

function dragover(event: DragEvent): void {
  event.preventDefault()
  isDragging.value = true
}

function dragleave(): void {
  isDragging.value = false
}

async function drop(event: DragEvent): Promise<Promise<void> | boolean> {
  event.preventDefault()
  isDragging.value = false

  const { dataTransfer } = event
  if (dataTransfer && dataTransfer.items) {
    const folderPromises = []
    for (const item of dataTransfer.items) {
      const entry = item.webkitGetAsEntry()
      if (entry?.isDirectory) {
        folderPromises.push(traverseFileTree(entry, entry.name))
      } else {
        return triggerFiles(dataTransfer)
      }
    }
    const folderFiles = await Promise.all(folderPromises)
    emit('trigger', folderFiles)
  }
}
function triggerFiles(dataTransfer: DataTransfer): boolean {
  if (dataTransfer?.files) {
    if (!checkPictType(dataTransfer.files)) return (isDragging.value = false)
    emit('trigger', Array.from(dataTransfer.files))
  }
  return (isDragging.value = false)
}

async function traverseFileTree(
  item: unknown,
  folderName: string
): Promise<{ folderName: string; files: File[] }> {
  let files: File[] = []
  if (item.isFile) files.push(await getFile(item as FileSystemFileEntry))
  else if (item.isDirectory) {
    const dirReader = (item as FileSystemDirectoryEntry).createReader()
    const entries = await readAllEntries(dirReader)
    for (const entry of entries) {
      files = files.concat((await traverseFileTree(entry, folderName)).files)
    }
  }
  return { folderName, files }
}

function readAllEntries(
  dirReader: FileSystemDirectoryReader
): Promise<FileSystemEntry[]> {
  return new Promise((resolve, reject) => {
    dirReader.readEntries((entries: FileSystemEntry[]) => {
      if (entries.length) {
        readAllEntries(dirReader)
          .then((moreEntries) => {
            resolve(entries.concat(moreEntries))
          })
          .catch(reject)
      } else resolve(entries)
    }, reject)
  })
}

function getFile(fileEntry: FileSystemFileEntry): Promise<File> {
  return new Promise((resolve, reject) => fileEntry.file(resolve, reject))
}

function checkPictType(files: FileList | File[]): boolean {
  const picturesToUpload = Array.from(files).filter(
    (p) => p.type === 'image/jpeg'
  )
  return picturesToUpload.length > 0
}
</script>

<style scoped lang="scss">
.file-upload {
  width: 100%;
  height: 100%;
  padding: toRem(0.3) toRem(0.3) toRem(3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.not-logged {
  opacity: 0.6;
  cursor: not-allowed;
}
.dragging {
  border-color: var(--green);
  background-color: var(--green-pale);
  .last-word,
  .bi-cloud-upload-fill {
    color: var(--green);
  }
}
.file-upload input {
  overflow: hidden;
  width: 0;
}
.bi-cloud-upload-fill {
  color: var(--blue);
  font-size: toRem(7);
}
.input-text {
  font-size: toRem(2);
  width: toRem(21);
  text-align: center;
  margin-bottom: toRem(1);
  font-weight: 590;
  white-space: pre;
  @include text(m-r-regular);
}
.input-text-type {
  @include text(xs-r-regular);
}
.last-word {
  display: flex;
  color: var(--white);
  align-items: center;
  height: toRem(4);
  border-radius: toRem(1);
  padding: toRem(2);
  background-color: var(--blue);
  margin-bottom: toRem(2);
  margin-top: toRem(1);
}
.yellow {
  .bi-cloud-upload-fill {
    color: var(--yellow);
  }
  .last-word {
    background-color: var(--yellow);
  }
}
@media (max-width: toRem(76.8)) {
  .input-text {
    display: none;
  }
}
</style>
