<template>
  <div class="input-radio">
    <input
      :id="id"
      :name="name"
      :value="id"
      type="radio"
      :checked="props.value === id"
      @change="updateValue"
      class="input"
    />
    <label v-if="label && label.length" :for="id" class="label">{{
      label
    }}</label>
  </div>
</template>

<script lang="ts" setup>
const emit = defineEmits<{ (e: 'trigger', value: string): void }>()
const props = defineProps({
  name: { type: String, default: null },
  id: { type: String, default: '' },
  label: { type: String, default: '' },
  value: { type: String, default: null }
})

function updateValue(): void {
  emit('trigger', props.id)
}
</script>

<style lang="scss" scoped>
.label {
  margin-left: toRem(0.5);
}
</style>
