<template>
  <div class="wrapper-instance">
    <span class="panoramax-text">{{ $t('general.header.title') }}</span>
    <span v-if="instanceName" class="instance-text">{{ instanceName }}</span>
  </div>
</template>

<script lang="ts" setup>
import { computed } from 'vue'
import { getEnv } from '@/utils'
const instanceName = computed((): string | null => {
  const instanceName = getEnv('VITE_INSTANCE_NAME')
  if (instanceName) return instanceName
  return null
})
</script>

<style lang="scss" scoped>
.wrapper-instance {
  padding: toRem(1) toRem(1) toRem(1) 0;
  position: relative;
}
.panoramax-text,
.instance-text {
  @include text(h2);
}
.panoramax-text {
  font-weight: bolder;
  margin-right: toRem(0.7);
}
.instance-text {
  padding-left: toRem(0.7);
  border-left: toRem(0.1) solid var(--blue-dark);
  font-weight: normal;
}
@media (max-width: toRem(102.4)) {
  .panoramax-text {
    display: none;
  }
  .instance-text {
    border-left: none;
    padding-left: 0;
  }
  .wrapper-instance {
    min-height: toRem(4.5);
  }
}
@media (max-width: toRem(76.8)) {
  .wrapper-instance {
    display: none;
  }
}
@media (max-width: toRem(57.6)) {
  .wrapper-instance,
  .panoramax-text,
  .instance-text {
    display: initial;
  }
}
</style>
