<template>
  <a
    v-if="type === 'external'"
    :href="pathExternal"
    :target="target"
    :class="['default', look, { disabled }]"
    :title="titleImg"
    v-bind="$attrs"
    @click="triggerButton"
  >
    <i v-if="icon" :class="[icon, 'icon']"></i>
    <img v-if="image" :src="img(image.url)" :alt="image.alt" class="logo" />
    <span v-if="text" class="text">{{ text }}</span>
    <i v-if="text" class="bi bi-box-arrow-up-right external-icon"></i>
    <span v-if="tooltip?.length" class="tooltip-button">{{ tooltip }}</span>
    <slot name="content"></slot>
  </a>
  <router-link
    v-else
    :to="route"
    :target="target"
    :class="['default', look, { disabled }]"
    :title="text"
    @click.native="reload"
  >
    <i v-if="icon" :class="[icon, 'icon']"></i>
    <img v-if="image" :src="img(image.url)" :alt="image.alt" class="logo" />
    <span v-if="text" class="text">{{ text }}</span>
    <span v-if="tooltip?.length" class="tooltip-button">{{ tooltip }}</span>
    <slot name="content"></slot>
  </router-link>
</template>

<script lang="ts" setup>
import { useI18n } from 'vue-i18n'
import { useRoute, useRouter } from 'vue-router'
import { computed } from 'vue'
const emit = defineEmits<{ (e: 'trigger'): void }>()
import type { PropType } from 'vue'
import { img } from '@/utils/image'

const { t } = useI18n()
const currentRoute = useRoute()
const router = useRouter()
interface ImageInterface {
  url: string
  alt: string
}

const props = defineProps({
  text: { type: String, default: null },
  route: {
    type: Object as PropType<{
      name: string
      hash?: string
      params?: { id: string }
    }>,
    default: {}
  },
  tooltip: { type: String, default: '' },
  pathExternal: { type: String, default: '' },
  look: { type: String, default: '' },
  type: { type: String, default: null },
  alt: { type: String, default: '' },
  icon: { type: String, default: null },
  target: { type: String, default: null },
  image: { type: Object as PropType<ImageInterface>, default: null },
  disabled: { type: Boolean, default: false }
})

const titleImg = computed<string>(() =>
  props.disabled ? t('general.header.about_text') : ''
)
function reload(): void {
  if (props.route.name === 'home' && currentRoute.name === 'home') {
    window.location.href = '/'
  } else router.push(props.route)
}
function triggerButton() {
  if (props.disabled) return
  emit('trigger')
}
</script>

<style lang="scss" scoped>
.default {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  text-decoration: none;
  height: inherit;
  width: inherit;
  position: relative;
  @include text(m-r-regular);
  .icon {
    margin-right: toRem(1);
  }
  &:hover {
    opacity: 0.8;
  }
  &:hover .tooltip-button {
    visibility: visible;
  }
  &.disabled {
    pointer-events: none;
    cursor: default;
  }
}
.button {
  height: toRem(4);
  border-radius: toRem(1);
  padding: toRem(1.5);
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  &.disabled {
    background-color: var(--grey);
    opacity: 0.5;
  }
}
.icon {
  color: var(--black);
  font-size: toRem(2.4);
  margin-right: toRem(1);
}
.logo {
  height: inherit;
  border-radius: toRem(0.5);
  margin-right: toRem(0.6);
}
.text {
  width: 100%;
  white-space: break-spaces;
  margin-right: toRem(0.5);
}
.external-icon {
  font-size: toRem(1);
}
.link:hover {
  background-color: transparent;
  text-decoration: underline;
}
.link--grey {
  color: var(--grey-semi-dark);
  text-decoration: underline;
  font-weight: inherit;
  font-size: toRem(1.4);
  .icon {
    color: var(--grey-semi-dark);
    font-size: toRem(1.4);
    margin-right: toRem(0.5);
  }
}
.link--grey-dark {
  color: var(--grey-dark);
  text-decoration: underline;
  font-weight: inherit;
  font-size: toRem(1.4);
  .icon {
    color: var(--grey-dark);
    font-size: toRem(1.4);
    margin-right: toRem(0.5);
  }
}
.link--blue-dark {
  color: var(--blue-dark);
  .icon {
    color: var(--blue-dark);
  }
}
.link--blue {
  color: var(--blue);
  .icon {
    font-size: toRem(1.6);
    color: var(--blue);
  }
}
.link--white {
  color: var(--white);
  .icon {
    color: var(--white);
    font-size: toRem(1.4);
    margin-right: toRem(0);
  }
}
.button--white {
  background-color: var(--white);
  color: var(--black);
  border: toRem(0.1) solid var(--black);
  .icon {
    font-size: toRem(1.6);
  }
  &:hover {
    background-color: var(--black);
    color: var(--white);
    .icon {
      color: var(--white);
    }
  }
}
.button--white-blue {
  background-color: var(--white);
  border: toRem(0.1) solid var(--blue);
  color: var(--blue);
  .icon {
    font-size: toRem(1.4);
    color: var(--blue);
  }
}
.button--blue {
  background-color: var(--blue);
  border: toRem(0.1) solid var(--blue);
  .icon {
    font-size: toRem(1.4);
    color: var(--white);
  }
}
.button--blue-bleu {
  background-color: var(--blue-semi-pale);
  color: var(--blue);
}
.disabled {
  color: grey;
  cursor: not-allowed;
  .icon {
    color: grey;
    cursor: not-allowed;
  }
  &:hover {
    text-decoration: none;
  }
}
.button--rounded {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0;
  height: toRem(4);
  width: toRem(4);
  .icon {
    color: var(--white);
    font-size: toRem(2.8);
  }
}
.no-text {
  height: toRem(3);
  width: toRem(3);
  padding: 0;
  .icon {
    margin: auto;
  }
  .external-icon {
    display: none;
  }
}
.tooltip-button {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  border-radius: toRem(0.5);
  padding: toRem(0.5) toRem(1);
  position: absolute;
  bottom: -100%;
  visibility: hidden;
  width: toRem(20);
  right: 0;
  z-index: 9;
  @include text(xss-regular);
}
@media (max-width: toRem(57.6)) {
  .icon {
    margin-right: toRem(0.5);
  }
  .button {
    padding-right: toRem(1);
    padding-left: toRem(1);
  }
  .disable-mobile {
    pointer-events: none;
  }
  .logo {
    margin-right: toRem(1);
  }
}
</style>
