<template>
  <div :class="['sequence-status', status, { open: isDefaultOpen }]">
    <i v-if="props.status === 'ready'" class="bi bi-check"></i>
    <i v-else-if="props.status === 'hidden'" class="bi bi-eye-slash"></i>
    <i v-else class="bi bi-hourglass"></i>
    <span :class="['text-status']">{{ sequenceStatus }}</span>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import { useI18n } from 'vue-i18n'
const { t } = useI18n()

const props = defineProps({
  status: { type: String, default: null },
  isDefaultOpen: { type: Boolean, default: true }
})
const sequenceStatus = computed((): string => {
  if (props.status === 'ready') return t('pages.sequence.sequence_published')
  if (props.status === 'hidden') return t('pages.sequence.sequence_hidden')
  return t('pages.sequence.sequence_waiting')
})
</script>

<style scoped lang="scss">
.sequence-status {
  border-radius: toRem(1);
  padding: toRem(0.5);
  height: toRem(1.8);
  width: toRem(1.8);
  color: var(--white);
  margin-right: toRem(1);
  display: flex;
  align-items: center;
  justify-content: center;
  @include text(xss-regular);
  font-weight: bolder;
  z-index: 99999;
  &.ready {
    color: var(--green);
    border: toRem(0.15) solid var(--green);
  }
  &.waiting,
  &.waiting-for-process {
    color: var(--orange);
    border: toRem(0.15) solid var(--orange);
  }
  &.hidden {
    color: var(--red-pale);
    border: toRem(0.15) solid var(--red-pale);
  }
  i {
    -webkit-text-stroke: toRem(0.05);
  }
  .text-status {
    display: none;
  }
  &:hover {
    width: fit-content;
    i {
      margin-right: toRem(0.3);
    }
    .text-status {
      display: block;
    }
  }
}
.open {
  width: fit-content;
  i {
    margin-right: toRem(0.3);
  }
  .text-status {
    display: block;
  }
}
</style>
