<template>
  <div class="wrapper-uploading-img">
    <img
      src="@/assets/images/uploading-person.svg"
      alt=""
      class="uploading-img"
    />
    <img
      src="@/assets/images/uploading-load.svg"
      alt=""
      class="uploading-img-load"
    />
  </div>
</template>

<script setup lang="ts"></script>

<style scoped lang="scss">
.wrapper-uploading-img {
  position: relative;
}
.uploading-img {
  height: toRem(20);
}
.uploading-img-load {
  position: absolute;
  left: toRem(2);
  top: toRem(4.5);
  animation: rotating 5s linear infinite;
}
@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: toRem(57.6)) {
  .uploading-img-load {
    height: toRem(2.5);
    left: toRem(1);
    top: toRem(2.3);
  }
  .uploading-img {
    height: toRem(10);
  }
}
</style>
