<template>
  <div class="wrapper-calendar">
    <div class="inputs-wrapper">
      <div class="input-wrapper">
        <i class="bi bi-calendar-plus"></i>
        <input
          :value="
            range?.start
              ? formatDate(new Date(range.start), 'YYYY-MM-DD')
              : null
          "
          :placeholder="$t('pages.sequences.radio_date_placeholder')"
          @input="setStartValue"
          data-test="input-start-calendar"
          class="input"
        />
      </div>
      <i class="bi bi-arrow-right"></i>
      <div class="input-wrapper">
        <i class="bi bi-calendar-plus"></i>
        <input
          :value="
            range?.end ? formatDate(new Date(range.end), 'YYYY-MM-DD') : null
          "
          :placeholder="$t('pages.sequences.radio_date_placeholder')"
          @input="setEndValue"
          data-test="input-end-calendar"
          class="input"
        />
      </div>
    </div>
  </div>
  <v-date-picker
    ref="datePicker"
    v-model="range"
    mode="date"
    :masks="{
      input: 'YYYY-MM-DD'
    }"
    is-range
    expanded
    :max-date="new Date()"
  />
  <div class="footer-modal">
    <Button
      :text="$t('pages.sequences.filter_date_close_button')"
      look="button--transparent"
      @trigger="$emit('triggerCloseModal')"
    />
    <Button
      v-if="range && (range.start || range.end)"
      :text="$t('pages.sequences.filter_date_reset_button')"
      icon="bi bi-trash"
      look="button--red"
      data-test="button-reset-calendar"
      @trigger="resetCalendar"
    />
  </div>
</template>

<script setup lang="ts">
import moment from 'moment'
import { ref, watch } from 'vue'
import type { PropType } from 'vue'
import { formatDate } from '@/utils/dates'
import Button from '@/components/Button.vue'
interface CalendarDateInterface {
  start: Date | string | null
  end: Date | string | null
  type: string
}
const emit = defineEmits(['triggerDate', 'triggerCloseModal'])
const props = defineProps({
  type: { type: String, default: '' },
  rangeSelected: {
    type: Object as PropType<CalendarDateInterface>,
    default: { start: null, end: null, type: '' }
  }
})
let range = ref<CalendarDateInterface>({
  start: props.rangeSelected.start,
  end: props.rangeSelected.end,
  type: props.rangeSelected.type
})
const datePicker = ref()
function checkValidityDate(dateToValid: string): boolean {
  const date = moment(dateToValid, 'YYYY-MM-DD', true)
  return date.isValid() && date.format('YYYY-MM-DD') === dateToValid
}
function setStartValue(event: Event): void {
  const value = (event.target as HTMLInputElement).value
  if (checkValidityDate(value)) {
    range.value.start = new Date(value)
    const startDate = `${formatDate(new Date(value), 'YYYY-MM-DD')} 12:00 AM`
    if (range && range.value.end && range.value.start) {
      range.value = {
        start: new Date(startDate),
        end: range.value.end,
        type: props.type
      }
      if (!datePicker.value?.updateValue) return
      datePicker.value.updateValue(range.value)
    }
  }
}
function setEndValue(event: Event): void {
  const value = (event.target as HTMLInputElement).value
  if (checkValidityDate(value)) {
    range.value.end = new Date(value)
    const endDate = `${formatDate(new Date(value), 'YYYY-MM-DD')} 11:59 PM`
    if (range && range.value.end && range.value.start) {
      range.value = {
        end: new Date(endDate),
        start: range.value.start,
        type: props.type
      }
      if (!datePicker.value?.updateValue) return
      datePicker.value.updateValue(range.value)
    }
  }
}
function resetCalendar(): void {
  range.value = { start: null, end: null, type: '' }
  emit('triggerDate', { start: null, end: null, type: props.type })
}
watch(range, (range) => {
  if (range && range.start && range.end) {
    const startDate = `${formatDate(range.start, 'YYYY-MM-DD')} 12:00 AM`
    const endDate = `${formatDate(range.end, 'YYYY-MM-DD')} 11:59 PM`
    range.type = props.type
    emit('triggerDate', { start: startDate, end: endDate, type: props.type })
  }
})
</script>

<style scoped lang="scss">
.wrapper-calendar {
  margin-bottom: toRem(2);
}
.inputs-wrapper {
  display: flex;
  align-items: center;
  @include text(xs-r-regular);
}
.input-wrapper {
  position: relative;
  width: 100%;
}
.footer-modal {
  margin-top: toRem(2);
  display: flex;
  justify-content: space-between;
}
.bi-arrow-right {
  margin-right: toRem(1);
  margin-left: toRem(1);
}
.bi-calendar-plus {
  position: absolute;
  left: 5%;
  top: 20%;
}
.input {
  padding: toRem(0.5) toRem(0.5) toRem(0.5) toRem(2.5);
  border-radius: toRem(0.3);
  border: toRem(0.1) solid var(--grey-pale);
  width: 100%;
}
</style>
