<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { RouterView, useRoute } from 'vue-router'
import { authConfig, isAuth } from './composables/auth'
const { authConf } = authConfig()
const { isLogged } = isAuth()
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import { getAuthRoute, sessionCookieDecoded } from '@/utils/auth'
const route = useRoute()

let focusMap = ref<string>('focus-map')

onMounted(() => {
  const cookies = sessionCookieDecoded()
  if (isLogged.value && !('tos_accepted' in cookies.account)) {
    window.location.href = getAuthRoute('auth/login', route.path)
  }
})

function setFocusMap(value: string) {
  focusMap.value = value
}
</script>

<template>
  <metainfo>
    <template v-slot:title="{ content }">{{ content }}</template>
  </metainfo>
  <Header
    :auth-enabled="authConf?.auth?.enabled ? authConf.auth.enabled : true"
  />
  <RouterView @trigger="setFocusMap" :class="{ logged: isLogged }" />
  <Footer v-if="!isLogged" class="footer" />
</template>
<style scoped lang="scss">
@media (max-width: toRem(57.6)) {
  .footer {
    display: none;
  }
}
</style>
